{% assign lable_sale = false %}
{% assign lable_out = false %}
{% assign lable_out_inventory_policy = false %}

{% if product.compare_at_price_min > product.price_min %}
  {% assign lable_sale = true %}
{% endif %}
 
{% for variant in product.variants %} 
    {% if variant.inventory_quantity > 0 %} 
      {% assign lable_out = true %}
   {% endif %}
{% endfor %}
 
{% if variant.inventory_policy == "deny" %} 
 {% assign lable_out_inventory_policy = true %}
{% endif %}

{% if lable_sale and lable_out == true %}
  <div class="product-label sale-label"> 
      {% if settings.sale_label_style =='percentage_label'%}

         {% if product.variants.size > 1 %}
          {% assign variant = product.variants.first %}
          {% assign compareAtPrice = variant.compare_at_price %}
          {% assign regularPrice = variant.price %}
        {% else %}
          {% assign compareAtPrice = product.compare_at_price %}
          {% assign regularPrice = product.price %}
        {% endif %}
        
        {% if compareAtPrice and regularPrice %}
          {% assign percentageDifference =  compareAtPrice | minus:regularPrice | times:100 | divided_by:compareAtPrice | round:0 %} 
          -{{ percentageDifference }}%
        {% endif %} 
      {% elsif settings.sale_label_style == 'text_label' %}
      Sale
      {% endif %} 
  </div>
{% endif %}