<div class="shogun-root" data-shogun-id="63efb891327b0600cb63293c" data-shogun-site-id="8815fcdc-f695-4c51-95c9-2ae88eb6c21d" data-shogun-section-id="63efb891327b0600cb63293c" data-shogun-section-version-id="642473940b0c1900fced5fbc" data-shogun-platform-type="shopify" data-shogun-variant-id="642473950b0c1900fced605a" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-03-21-0604/642473950b0c1900fced605a.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:" />


<div class="shg-fw"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c  background-color:#B2ADA8; width: 100% !important;  "
      
      id="s-c38d707d-dbc6-438a-ad70-50c9ae0aed58"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
  <div
    class="shg-c  "
    id="s-413faddf-441e-4f4c-a73e-768fd2919492"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c  shg-box-linked   "
      
      id="s-53c15fb8-c92a-4a67-8bf1-08535cd2b12b"data-shg-href="https://jadetrau.com/pages/shipping"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-8352558e-58f4-4b63-a54e-11004e303290"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h2>
    
      FREE SHIPPING
    
  </h2>
</div>

</div>
<div id="s-b95d4b8a-ae55-4a89-93d6-12f954ae9b65"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center;"><span class="s1" style="font-family: Poppins; color: rgb(255, 255, 255);">on domestic orders $5000+</span></p></div>

</div>

      </div>
    </div>
  </div><script type="text/javascript">
      if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()
      window.SHOGUN_BOX.push({
        id: "s-53c15fb8-c92a-4a67-8bf1-08535cd2b12b",
        url: "https://jadetrau.com/pages/shipping",
        new_window: false
      })
    </script>
</div>
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c  shg-box-linked   "
      
      id="s-c8702880-c0f0-478e-87a1-b53f1ba1e819"data-shg-href="https://jadetrau.com/pages/appointment"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-ad59edc0-4b44-423c-94a2-4c407296b803"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h2>
    
      PRIVATE APPOINTMENT
    
  </h2>
</div>

</div>
<div id="s-84a210a0-cbfe-440d-9759-2ea105ae7521"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center;"><span class="s1" style="font-family: Poppins; color: rgb(255, 255, 255);">schedule a one-on-one with our stylist</span></p></div>

</div>

      </div>
    </div>
  </div><script type="text/javascript">
      if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()
      window.SHOGUN_BOX.push({
        id: "s-c8702880-c0f0-478e-87a1-b53f1ba1e819",
        url: "https://jadetrau.com/pages/appointment",
        new_window: false
      })
    </script>
</div>
      
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c  shg-box-linked   "
      
      id="s-9f3b8c10-a9c2-49a9-8796-a444c57007e4"data-shg-href="https://jadetrau.com/pages/restyling"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-5f1b1038-8d64-475c-8425-45b5f2b16dde"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h2>
    
      BESPOKE SERVICE
    
  </h2>
</div>

</div>
<div id="s-2c9d931e-cea0-41ed-951f-9d2477f2c095"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center;"><span class="s1" style="font-family: Poppins; font-size: 14px; color: rgb(255, 255, 255);">customize, restyle or reset a piece</span></p></div>

</div>

      </div>
    </div>
  </div><script type="text/javascript">
      if (window.SHOGUN_BOX === undefined) window.SHOGUN_BOX = new Array()
      window.SHOGUN_BOX.push({
        id: "s-9f3b8c10-a9c2-49a9-8796-a444c57007e4",
        url: "https://jadetrau.com/pages/restyling",
        new_window: false
      })
    </script>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div></div>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-03-28-0931/global-assets-254ae1cfb8384efb6c162ac4db7ae9b676d59995.js" defer></script>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-03-28-0931/add_ons_asset_642473950b0c1900fced605a.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "shipping-footer-section",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=63efb891327b0600cb63293c&shop=jadetrau.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "shipping-footer-section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
