{% assign custom = shop.metafields.call_for_price.Settings %}
{% assign title=custom.title %}
{% assign submit_btn_name=custom.submit %}
{% assign form_theme=custom.form_theme  %}
{% assign gdpr_msg=custom.gdpr_msg  %}
{% assign form_fields=custom.show_form_fields  %}      
   
<style>
  
{% if form_theme == "1" %}

.call-for-price-modal-wrapper .cfp-modal-header {
    
    background-color: #fff;
    color: #333333d9;

}
  
  .submitReq
  {
  background-color: #e6e4e4b3;
    color: #333333e6;
    
  }
  
  .submitReq:hover,.submitReq:focus
  {
  background-color: #e6e4e4b3;
    color: #333333e6;
    
  }
  
  .cfp-modal-body
  {
   background-color:#fff; 
  }
  
  .call-for-price-modal-wrapper .cfp-modal-header {
   /* padding: 16px 16px; */
      padding: 13px 0px;
    border-bottom: 1px solid #f3f3f3;
  }
  
  .alert
  {
    
    margin-top:10px;
  }

  
  select.cfp_var_data
  {
     background-color: #fff !important; 
    
  }

{% elsif form_theme == "0" %}
.call-for-price-modal-wrapper .cfp-modal-header {
    
    background-color: #333333d9;
    color: #333333d9;

}
  
  .call-for-price-modal-wrapper .cfp-modal-header {
    padding: 16px 16px; 
  
  }
  
  .submitReq
  {
  background-color: #333333e6;
    color: #fff;
    
  }
  
  .submitReq:hover,.submitReq:focus
  {
  background-color: #333333e6;
    color: #fff;
    
  }
  
  .cfp-modal-body
  {
   background-color:#e6e4e4b3; 
  }
  
  .call-for-price-modal-wrapper .cfp-modal-header h2 {
    
   color:#fff; 
  }

{% endif %}

.call-for-price-modal-wrapper .close{



  
/* color: #f00; */
  border-radius: 106px;
  background: #fefefe;
  width: 26px;
  padding: 1px 6px;
  font-size: 23px;
  position: absolute;
  right: -11px;
  top: -13px;
  height: 26px;
  z-index:999999999999999999999;
  cursor: pointer;


}

.cfp-modal-body
  
  {
    
/*   border-radius: 10px; */
    
  }
    
  
  .alert
  {
    text-align: center!important;
  font-size: 17px!important;
    
  }
  .cfp-prod-handle, .cfp-prod-url, .cfp-prod-title , .cfp-prod-id
  {
    
   display:none; 
    
  }
  
  .cfp-prod-wrapper
  {
    
    text-align:center;
        margin-bottom: 25px;
    
    
  }
  .submitReq
  {
   
    border-radius:0px; 
    
  }
  .formfield
  {
   margin:0!important; 
    border: 1px solid rgba(26,26,26,0.15)!important;
    width:100%;
    height:35%;
/*     border-radius:7px; */
    
  }
  
  .cfp-parent-wrapper
  {
    
   opacity:0; 
  }
  
.call-for-price-modal-wrapper label,.call-for-price-modal-wrapper input,.call-for-price-modal-wrapper textarea
{

  width: 100%;
    font-size: 14px;
    height: auto;
    border-radius: 0px;
    padding: 8px;
    line-height: 1;

}
.formfield 
  {
   
  }
.call-for-price-modal-wrapper .form-group {
    margin: 1px 0;
  
}


.call-for-price-modal-wrapper .submitReq {    
padding: 5px 20px;

font-size: 13px;

font-weight: bold;

text-transform: uppercase;

min-width: 140px;



}

.call-for-price-modal-wrapper .submit-btn

{
width:100%;
text-align:right;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;

}

.call-for-price-modal-wrapper label
{
text-transform: capitalize;

}
  
  .text-danger
  {
   text-align: left!important; 
   color: #ef6c0dd1;
    background: #fff3de;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    padding: 3px 5px;
    text-transform: capitalize;
    margin: 0px 0;
  }
  
  
  input,textarea
  {
background: white; 
  }

/* The Modal (background) */
.call-for-price-modal-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding: 100px 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;  /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 
}

/* Modal Content */
.call-for-price-modal-wrapper .cfp-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 10%;
  padding: 0;
  
  width: 440px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
/*   border-radius: 14px; */
  animation-duration: 0.4s;
   
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.call-for-price-modal-wrapper .close {
/*   color: red; */
  float: right;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
}
  
 

.call-for-price-modal-wrapper .close:hover,
.call-for-price-modal-wrapper .close:focus {
/*   color:red; */
  text-decoration: none;
  cursor: pointer;
  
}

.call-for-price-modal-wrapper .cfp-modal-header {
   /* padding: 16px 16px; */
  padding-top:16px;
    
/*   border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.call-for-price-modal-wrapper .cfp-modal-body {padding: 2px 16px 25px;}

.call-for-price-modal-wrapper .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.call-for-price-modal-wrapper .cfp-modal-header h2 {




font-size: 18px;

text-transform: uppercase;

text-align: center;

margin: 0;


font-weight: 900;



}

@media (max-width:460px) { .call-for-price-modal-wrapper .cfp-modal-content 
  
  {
  /* width: auto; */
    width: 310px;
  
  }

  }
  
form   .form-group
  {
    padding:5px;
  }
  
  .sb_cfp
  {
  /* overflow-y: auto;
  height: 480px; */
 
    
  }
  
  
  
  .cfp_variants
  {
    text-align:center;
  }
  
  
  
  /*loader css starts from here */
  
  



.cfp_loader {
  animation: load3 1s infinite linear;
  background: #fff;
  background: linear-gradient(to right, #ddd 10%, rgba(#ddd, 0) 70%);
  border-radius: 50%;
  height: 50px;
  margin: 5em auto;
  position: relative;
  width: 50px;
  opacity:0;
  margin: 0 auto;
  top: 45%;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  

}

.cfp_loader:before {
  width: 100%;
  height: 50%;
  background: #ddd;
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.cfp_loader:after {
  background: #fff;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  100% {
    transform: rotate(360deg);
  }
}

  
  #cfpmessage
  {
    
   min-height:100px!important; 
  }

  
  .cfp_var_data
  {
     background-color: #fff!important; 
    line-height: normal!important;
    font-size: 14px!important;
    color: #939393!important;

}
  
  #cfp_product_name
  {
    
    font-size: 14px;
    text-align:center;
    margin-top:5px;
    word-wrap: break-word;
    
  }
  
  .country_field
  {
    margin: 0!important;
    border: 1px solid rgba(26,26,26,0.15)!important;
    width: 100%;
    height: 35%;
/*     border-radius: 7px; */
        /* background: #fff!important; */
    line-height: normal!important;
    font-size: 14px!important;
    color: #939393!important;
        background-color: #fff !important;
  }
  
  #cfp_subscribe { width:unset!important; height: unset!important; }
  
  .cfp_nwsltr { font-size:14px!important; margin-left:5px; }
  
  

.formfield input::-webkit-input-placeholder {
  color: #777;
}
.formfield input::-moz-placeholder { /* Firefox 19+ */
  color:  #777;
}
.formfield input:-ms-input-placeholder {
  color:  #777;
}
.formfield input:-moz-placeholder { /* Firefox 18- */
  color:  #777;
}
  
  
  



</style>

<html>
 

<div id="cfpmodal" class="call-for-price-modal-wrapper">
<div class="cfp-modal-content">
  <div class="cfp_loader"></div>
<div class="cfp-parent-wrapper"> 

<div class="cfp-modal-header">
<span class="close">&times;</span><h2>{{title}}</h2>
</div>

<div class="cfp-modal-body"><p id="cfp_product_name"></p>
<div class="form-popup" >
  
<form class="sb_cfp">
 
 
{% if shop.id == 56183226541 %}  <!--cfp_adt_flds-->

<div class="form-group">
<input type="text" placeholder="Firma" name="addtional_fields[Firma]" id="addt_farma"   class="cfp_field form-control formfield">
</div> 
 
{% endif %} 
  
  
  <div class="form-group">
<input type="text" placeholder="Your Name"  id="cfpname" class="cfp_field form-control formfield">
</div>
  


 
<div class="form-group">

<input type="email" placeholder="Your Email Address"  id="cfpemail"   class="cfp_field form-control formfield">
</div>
  
{% if form_fields contains "phone" %}
<div class="form-group cfp_phone_wrapper">
<input type="text" placeholder="Your Phone Number Ex : +919999999999"  id="cfpphone" class="cfp_field form-control formfield" value="">
</div>
{% endif %}
  
  
{% if shop.id == 56183226541 %} <!--cfp_adt_flds-->  

<div class="form-group">
<input type="text" placeholder="Verwendungszweck" name="addtional_fields[Verwendungszweck]"  class="cfp_field form-control formfield">
</div> 
  
<div class="form-group">
<input type="text" placeholder="Leistung (KW)" name="addtional_fields[Leistung]"  class="cfp_field form-control formfield">
</div> 
  
  
  
  <div class="form-group">
<input type="text" placeholder="Einschaltdauer (% bezogen auf Spieldauer 120 Sekunden)" name="addtional_fields[Einschaltdauer ]"  class="cfp_field form-control formfield">
</div> 
  
  <div class="form-group">
<input type="text" placeholder="Widerstandswert (Ω)" name="addtional_fields[Widerstandswert]"  class="cfp_field form-control formfield">
</div> 
  
  <div class="form-group">
<input type="text" placeholder="Strom (A) – wenn vorhanden" name="addtional_fields[Strom]"  class="cfp_field form-control formfield">
</div> 
  
  <div class="form-group">
<input type="text" placeholder="Spannung (V)" name="addtional_fields[Spannung]"  class="cfp_field form-control formfield">
</div>
  
  <div class="form-group">
<input type="text" placeholder="Abstufungen – wenn vorhanden" name="addtional_fields[Abstufungen]"  class="cfp_field form-control formfield">
</div>
  
  <div class="form-group">
<input type="text" placeholder="Schutzart" name="addtional_fields[Schutzart]"  class="cfp_field form-control formfield">
</div>
  
  
 
{% endif %}     
  
  

{% if form_fields contains "country" %}  
<div class="form-group cfp_country_field">  
<select class="form-control country_field" id="cfp_country">
   <option selected="true" id="country_first_option" value="select_default_opt" disabled="disabled">Select Country</option>
   <option value="Afganistan">Afghanistan</option>
   <option value="Albania">Albania</option>
   <option value="Algeria">Algeria</option>
   <option value="American Samoa">American Samoa</option>
   <option value="Andorra">Andorra</option>
   <option value="Angola">Angola</option>
   <option value="Anguilla">Anguilla</option>
   <option value="Antigua & Barbuda">Antigua & Barbuda</option>
   <option value="Argentina">Argentina</option>
   <option value="Armenia">Armenia</option>
   <option value="Aruba">Aruba</option>
   <option value="Australia">Australia</option>
   <option value="Austria">Austria</option>
   <option value="Azerbaijan">Azerbaijan</option>
   <option value="Bahamas">Bahamas</option>
   <option value="Bahrain">Bahrain</option>
   <option value="Bangladesh">Bangladesh</option>
   <option value="Barbados">Barbados</option>
   <option value="Belarus">Belarus</option>
   <option value="Belgium">Belgium</option>
   <option value="Belize">Belize</option>
   <option value="Benin">Benin</option>
   <option value="Bermuda">Bermuda</option>
   <option value="Bhutan">Bhutan</option>
   <option value="Bolivia">Bolivia</option>
   <option value="Bonaire">Bonaire</option>
   <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
   <option value="Botswana">Botswana</option>
   <option value="Brazil">Brazil</option>
   <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
   <option value="Brunei">Brunei</option>
   <option value="Bulgaria">Bulgaria</option>
   <option value="Burkina Faso">Burkina Faso</option>
   <option value="Burundi">Burundi</option>
   <option value="Cambodia">Cambodia</option>
   <option value="Cameroon">Cameroon</option>
   <option value="Canada">Canada</option>
   <option value="Canary Islands">Canary Islands</option>
   <option value="Cape Verde">Cape Verde</option>
   <option value="Cayman Islands">Cayman Islands</option>
   <option value="Central African Republic">Central African Republic</option>
   <option value="Chad">Chad</option>
   <option value="Channel Islands">Channel Islands</option>
   <option value="Chile">Chile</option>
   <option value="China">China</option>
   <option value="Christmas Island">Christmas Island</option>
   <option value="Cocos Island">Cocos Island</option>
   <option value="Colombia">Colombia</option>
   <option value="Comoros">Comoros</option>
   <option value="Congo">Congo</option>
   <option value="Cook Islands">Cook Islands</option>
   <option value="Costa Rica">Costa Rica</option>
   <option value="Cote DIvoire">Cote DIvoire</option>
   <option value="Croatia">Croatia</option>
   <option value="Cuba">Cuba</option>
   <option value="Curaco">Curacao</option>
   <option value="Cyprus">Cyprus</option>
   <option value="Czech Republic">Czech Republic</option>
   <option value="Denmark">Denmark</option>
   <option value="Djibouti">Djibouti</option>
   <option value="Dominica">Dominica</option>
   <option value="Dominican Republic">Dominican Republic</option>
   <option value="East Timor">East Timor</option>
   <option value="Ecuador">Ecuador</option>
   <option value="Egypt">Egypt</option>
   <option value="El Salvador">El Salvador</option>
   <option value="Equatorial Guinea">Equatorial Guinea</option>
   <option value="Eritrea">Eritrea</option>
   <option value="Estonia">Estonia</option>
   <option value="Ethiopia">Ethiopia</option>
   <option value="Falkland Islands">Falkland Islands</option>
   <option value="Faroe Islands">Faroe Islands</option>
   <option value="Fiji">Fiji</option>
   <option value="Finland">Finland</option>
   <option value="France">France</option>
   <option value="French Guiana">French Guiana</option>
   <option value="French Polynesia">French Polynesia</option>
   <option value="French Southern Ter">French Southern Ter</option>
   <option value="Gabon">Gabon</option>
   <option value="Gambia">Gambia</option>
   <option value="Georgia">Georgia</option>
   <option value="Germany">Germany</option>
   <option value="Ghana">Ghana</option>
   <option value="Gibraltar">Gibraltar</option>
   <option value="Great Britain">Great Britain</option>
   <option value="Greece">Greece</option>
   <option value="Greenland">Greenland</option>
   <option value="Grenada">Grenada</option>
   <option value="Guadeloupe">Guadeloupe</option>
   <option value="Guam">Guam</option>
   <option value="Guatemala">Guatemala</option>
   <option value="Guinea">Guinea</option>
   <option value="Guyana">Guyana</option>
   <option value="Haiti">Haiti</option>
   <option value="Hawaii">Hawaii</option>
   <option value="Honduras">Honduras</option>
   <option value="Hong Kong">Hong Kong</option>
   <option value="Hungary">Hungary</option>
   <option value="Iceland">Iceland</option>
   <option value="Indonesia">Indonesia</option>
   <option value="India">India</option>
   <option value="Iran">Iran</option>
   <option value="Iraq">Iraq</option>
   <option value="Ireland">Ireland</option>
   <option value="Isle of Man">Isle of Man</option>
   <option value="Israel">Israel</option>
   <option value="Italy">Italy</option>
   <option value="Jamaica">Jamaica</option>
   <option value="Japan">Japan</option>
   <option value="Jordan">Jordan</option>
   <option value="Kazakhstan">Kazakhstan</option>
   <option value="Kenya">Kenya</option>
   <option value="Kiribati">Kiribati</option>
   <option value="Korea North">Korea North</option>
   <option value="Korea Sout">Korea South</option>
   <option value="Kuwait">Kuwait</option>
   <option value="Kyrgyzstan">Kyrgyzstan</option>
   <option value="Laos">Laos</option>
   <option value="Latvia">Latvia</option>
   <option value="Lebanon">Lebanon</option>
   <option value="Lesotho">Lesotho</option>
   <option value="Liberia">Liberia</option>
   <option value="Libya">Libya</option>
   <option value="Liechtenstein">Liechtenstein</option>
   <option value="Lithuania">Lithuania</option>
   <option value="Luxembourg">Luxembourg</option>
   <option value="Macau">Macau</option>
   <option value="Macedonia">Macedonia</option>
   <option value="Madagascar">Madagascar</option>
   <option value="Malaysia">Malaysia</option>
   <option value="Malawi">Malawi</option>
   <option value="Maldives">Maldives</option>
   <option value="Mali">Mali</option>
   <option value="Malta">Malta</option>
   <option value="Marshall Islands">Marshall Islands</option>
   <option value="Martinique">Martinique</option>
   <option value="Mauritania">Mauritania</option>
   <option value="Mauritius">Mauritius</option>
   <option value="Mayotte">Mayotte</option>
   <option value="Mexico">Mexico</option>
   <option value="Midway Islands">Midway Islands</option>
   <option value="Moldova">Moldova</option>
   <option value="Monaco">Monaco</option>
   <option value="Mongolia">Mongolia</option>
   <option value="Montserrat">Montserrat</option>
   <option value="Morocco">Morocco</option>
   <option value="Mozambique">Mozambique</option>
   <option value="Myanmar">Myanmar</option>
   <option value="Nambia">Nambia</option>
   <option value="Nauru">Nauru</option>
   <option value="Nepal">Nepal</option>
   <option value="Netherland Antilles">Netherland Antilles</option>
   <option value="Netherlands">Netherlands (Holland, Europe)</option>
   <option value="Nevis">Nevis</option>
   <option value="New Caledonia">New Caledonia</option>
   <option value="New Zealand">New Zealand</option>
   <option value="Nicaragua">Nicaragua</option>
   <option value="Niger">Niger</option>
   <option value="Nigeria">Nigeria</option>
   <option value="Niue">Niue</option>
   <option value="Norfolk Island">Norfolk Island</option>
   <option value="Norway">Norway</option>
   <option value="Oman">Oman</option>
   <option value="Pakistan">Pakistan</option>
   <option value="Palau Island">Palau Island</option>
   <option value="Palestine">Palestine</option>
   <option value="Panama">Panama</option>
   <option value="Papua New Guinea">Papua New Guinea</option>
   <option value="Paraguay">Paraguay</option>
   <option value="Peru">Peru</option>
   <option value="Phillipines">Philippines</option>
   <option value="Pitcairn Island">Pitcairn Island</option>
   <option value="Poland">Poland</option>
   <option value="Portugal">Portugal</option>
   <option value="Puerto Rico">Puerto Rico</option>
   <option value="Qatar">Qatar</option>
   <option value="Republic of Montenegro">Republic of Montenegro</option>
   <option value="Republic of Serbia">Republic of Serbia</option>
   <option value="Reunion">Reunion</option>
   <option value="Romania">Romania</option>
   <option value="Russia">Russia</option>
   <option value="Rwanda">Rwanda</option>
   <option value="St Barthelemy">St Barthelemy</option>
   <option value="St Eustatius">St Eustatius</option>
   <option value="St Helena">St Helena</option>
   <option value="St Kitts-Nevis">St Kitts-Nevis</option>
   <option value="St Lucia">St Lucia</option>
   <option value="St Maarten">St Maarten</option>
   <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
   <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
   <option value="Saipan">Saipan</option>
   <option value="Samoa">Samoa</option>
   <option value="Samoa American">Samoa American</option>
   <option value="San Marino">San Marino</option>
   <option value="Sao Tome & Principe">Sao Tome & Principe</option>
   <option value="Saudi Arabia">Saudi Arabia</option>
   <option value="Senegal">Senegal</option>
   <option value="Seychelles">Seychelles</option>
   <option value="Sierra Leone">Sierra Leone</option>
   <option value="Singapore">Singapore</option>
   <option value="Slovakia">Slovakia</option>
   <option value="Slovenia">Slovenia</option>
   <option value="Solomon Islands">Solomon Islands</option>
   <option value="Somalia">Somalia</option>
   <option value="South Africa">South Africa</option>
   <option value="Spain">Spain</option>
   <option value="Sri Lanka">Sri Lanka</option>
   <option value="Sudan">Sudan</option>
   <option value="Suriname">Suriname</option>
   <option value="Swaziland">Swaziland</option>
   <option value="Sweden">Sweden</option>
   <option value="Switzerland">Switzerland</option>
   <option value="Syria">Syria</option>
   <option value="Tahiti">Tahiti</option>
   <option value="Taiwan">Taiwan</option>
   <option value="Tajikistan">Tajikistan</option>
   <option value="Tanzania">Tanzania</option>
   <option value="Thailand">Thailand</option>
   <option value="Togo">Togo</option>
   <option value="Tokelau">Tokelau</option>
   <option value="Tonga">Tonga</option>
   <option value="Trinidad & Tobago">Trinidad & Tobago</option>
   <option value="Tunisia">Tunisia</option>
   <option value="Turkey">Turkey</option>
   <option value="Turkmenistan">Turkmenistan</option>
   <option value="Turks & Caicos Is">Turks & Caicos Is</option>
   <option value="Tuvalu">Tuvalu</option>
   <option value="Uganda">Uganda</option>
   <option value="United Kingdom">United Kingdom</option>
   <option value="Ukraine">Ukraine</option>
   <option value="United Arab Erimates">United Arab Emirates</option>
   <option value="United States of America">United States of America</option>
   <option value="Uraguay">Uruguay</option>
   <option value="Uzbekistan">Uzbekistan</option>
   <option value="Vanuatu">Vanuatu</option>
   <option value="Vatican City State">Vatican City State</option>
   <option value="Venezuela">Venezuela</option>
   <option value="Vietnam">Vietnam</option>
   <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
   <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
   <option value="Wake Island">Wake Island</option>
   <option value="Wallis & Futana Is">Wallis & Futana Is</option>
   <option value="Yemen">Yemen</option>
   <option value="Zaire">Zaire</option>
   <option value="Zambia">Zambia</option>
   <option value="Zimbabwe">Zimbabwe</option>
  </select>
</div>
  
  {% endif %}

  
   <div class="cfp_variants">
    
  
  </div>
<div class="form-group cfp_team_name_wrapper "> <input type="text"  name="cfp_team_name" id="cfp_team_name" class="cfp_field form-control formfield" placeholder="Enter Team Name"> </div>  


{% if form_fields contains "message" %}
<div class="form-group cfp_desc">
<textarea rows="2" cols="4"  id="cfpmessage" placeholder="Describe Your Message"  class="form-control formfield" >
</textarea>
</div>
{% endif %}
  
  
{% if form_fields contains "image" %}
<div class="form-group ">
<input type="file" placeholder="Enter File"  id="cfp_image" multiple class="form-control formfield" value="">
</div>
{% endif %}
  
  
  <div class="form-group cfp_subscribe_wrapper ">
  
    <input type="checkbox"  name="subscribe" id="cfp_subscribe"><span class="cfp_nwsltr">{{gdpr_msg}}</span>  
    </div>
    
 <!--  gcaptchacode -->
  <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
    <input type="hidden" name="action" value="validate_captcha">
  
<div class="submit-btn">
<button type="button" class="btn btn-primary submitReq" name="add">{{submit_btn_name}}</button>
</div>
</form>
</div>
</div> 
  </div>
</div>
</div>
  
</html>           
