<div class="pdp_popup">
  <div class="pdp_popup_upper">
    <div class="pdp_popup_inner">
    </div>
    <div class="pdp_popup_inner">
    </div>
  </div>
</div>


<style>


  .pdp_popup{max-width:1170px;background:#fff;padding:30px 30px;}
  .pdp_popup_upper{display:flex;flex-wrap:wrap;}
  .pdp_popup_inner{width:50%;}


</style>