.header-layout-01 #header-content .header .header-inner>.row {
  justify-content: space-between;
  margin-top: 25px !important;
  margin: 0;
}

.custom_poup button.bundle-builder-app--button.bundle-builder-app--button--decrease.button_coll {
  color: #000 !important;
}

.custom_poup button.bundle-builder-app--button.bundle-builder-app--button--increase.button_coll {
  color: #000 !important;
}

.custom_poup span.bundle-builder-app--quantity--amount {
  color: #000 !important;
}

body .site-nav li.megamenu-dropdow>.dropdown-subs::after {
  background: #efefef !Important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

body .site-nav li.megamenu-dropdow>.dropdown-subs::before {
  background: #DCDCDC !important
}

.template-product {
  button#product-add-to-cart {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
  .product-shop .prices {
      display: flex !important;
      flex-direction: row-reverse;
      margin: 0;
      padding: 0;
  }
  #product-add-to-cart span {
      color: #fff;
  }
}

.template-product .product-shop .prices .price.on-sale,
.template-product .product-shop .prices .compare-price {
  font-size: 14px;
  font-weight: normal;
  padding-right: 0;
  color: #000;
}

body .form-wr #product-variants .selector-wrapper select,
body .form-wr .custom-engraving select#engraving-type-selector {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("https://cdn.shopify.com/s/files/1/0418/3723/2292/files/down-arrow-light.svg?v=1613623794") !important;
  background-repeat: no-repeat !important;
  background-position: center right 15px !important;
  background-size: 15px !important;
  border-radius: 0px;
}

body#your-charm-bundle {
  overflow-x: hidden !important;
}

.jade_stack_videos {
  display: none;
}

#jade-39-s-stacks .jade_stack_videos {
  display: block;
}

#jade-39-s-stacks .collection_img_desc img {
  display: none;
}

.home-newsletter.custom_newletter .input-group-field {
  border: none !important;
}

.home-newsletter.custom_newletter .newsletter .input-group-btn>.btn {
  background-color: #000 !important;
}

.selector-wrapper select.letter_option {
  box-shadow: none;
  height: auto;
  width: 100%;
  color: #3f3e40;
  background: none;
  border: solid 1px #3f3e40;
  padding: 10px;
  line-height: normal;
  outline: none;
}

.selector-wrapper.custom-engraving {
  border: none;
  margin-top: 25px;
}

.selector-wrapper.custom-engraving label {
  margin-bottom: 10px;
}

.bundle-builder-app--bundle--nav-buttons--next {
  margin-top: 45px;
  margin-bottom: 45px;
}

.template-search .search-page .input-group-btn>button {
  width: 55px;
  padding: 0;
}

.template-product .product-shop .custom-text-product {
  display: none !important;
}

.contact-form select {
  border-radius: 0px;
}

.template-collection {
  .description {
      background: #3f3e40;
  }
  div#filter-sidebar {
      background: #3f3e40;
  }
  .shg-c h6,
  .shg-c h3 {
      padding: 0 20px;
  }
  .display-toolbar .toolbar {
      margin-bottom: 0 !important;
  }
  .toolbar .description {
      margin-bottom: 0;
  }
  table td,
  table th {
      border: 0;
  }
  div#shopify-section-collection-template {
      padding-top: 45px;
  }
}

.colection_fulwidth .colection_fulwidth #filter-sidebar.col-left {
  padding-bottom: 100px !important;
}

#header-content {
  transition: all 0.5s;
  -webkit-transition: 0.5s;
}

div#shopify-section-header:hover #header-content {
  /*   background: #3F3E40!important; */
  transition: all 0.5s;
  -webkit-transition: 0.5s;
}

.header .header-inner .menu-main-home .site-nav>li.level-top:hover>a {
  color: #ffffff;
  text-decoration: underline !important;
}

.header .header-inner .menu-main-home .site-nav>li>a {
  /*   color: #fff; */
}

h1.bundle-builder-app--bundle--name {
  margin-top: 0 !important;
  padding-top: 20px !important;
}

body#virtual-appointments[data-page="virtual-appointments"] main.main-content>.container.main_container {
  max-width: 100%;
  padding: 0;
}

body#virtual-appointments[data-page="virtual-appointments"] main.main-content div#__pf [data-container="false"]:not(:last-child) {
  margin: 0 auto;
  padding: 0 15px;
}

.bundle-builder-app--bundle--section-breadcrumbs>.bundle-builder-app--bundle--section-breadcrumb:before {
  line-height: 34px !important;
}

.bundle-builder-app--bundle--section-breadcrumbs>.bundle-builder-app--bundle--section-breadcrumb:after {
  top: 20px !important;
}

body.template-collection .toolbar .description p {
  font-size: 25px !important;
  line-height: 35px !important;
}

body #cart table tr .remove-cart {
  /*   display:block;
float:left; */
  color: #3F3E40 !important;
}

.megamenu.mobile_mega_nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #3f3e40;
  left: -100%;
  display: none;
  z-index: 9999999;
  padding: 25px;
  transition: .3s left,.3s right;
  transition-timing-function: linear;
  .site-nav>li {
      display: block;
  }
  .dropdown-subs {
      position: static;
      opacity: 1;
      visibility: visible;
  }
  .col-lg-3 {
      max-width: 100%;
      flex: 1 1 100%;
  }
  .widget-inner.col-lg-3 {
      display: flex;
      flex-direction: column;
      padding: 0;
  }
  a.menu-title {
      order: 2;
  }
  .nav-links.sub-menu-lv3.row {
      order: 3;
      margin: 0;
  }
  ul.navbar-nav.site-nav {
      overflow: auto;
      &::-webkit-scrollbar {
          width: 0px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
          background: #f1f1f1;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
          background: #888;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
          background: #555;
      }
  }
  .dropdown-subs::before {
      display: none;
  }
  .col-lg {
      padding: 0;
      margin: 9px 0;
  }
  .account--sse {
      border-top: 1px solid #c9c0c1;
      margin-top: 20px !important;
      padding-top: 20px;
  }
  .concierge .dropdown-subs,
  .collections .dropdown-subs,
  .story .dropdown-subs {
      display: none;
  }
  .concierge i.cs-font.clever-icon-down,
  .collections i.cs-font.clever-icon-down,
  .story i.cs-font.clever-icon-down {
      display: none;
  }
  li>a {
      line-height: initial;
      margin: 0px 0;
  }
  .shop i.cs-font.clever-icon-down {
      display: none;
  }
  img {
      width: 100%;
      object-fit: cover;
  }
  li>a {
      font-family: Columbia Sans !important;
      font-size: 11px !important;
      color: #FFFFFF;
      letter-spacing: 2px !important;
      text-transform: uppercase !important;
      font-weight: 700 !important;
      padding: 10px 0 !important;
  }
  .shop .dropdown-menu-inner.container {
      border-bottom: 1px solid #c9c0c1;
      padding-bottom: 20px !important;
      margin-bottom: 20px !important;
  }
  li.shop.level-top.menu-dropdown.megamenu-dropdow a.menu-title.menutiekr {
      font-family: Goldenbook !important;
      font-size: 26px !important;
      color: #FFFFFF !important;
      line-height: 22px !important;
      text-transform: uppercase !important;
      letter-spacing: 0px !important;
  }
  .close__s {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 92px;
  }
  .close__s_btn {
      position: absolute;
      top: 35%;
      left: 0;
      z-index: 4;
  }
  .account--sse.sse--i {
      padding-bottom: 50px;
  }
  a.menu-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  img.dropee {
      width: auto !important;
      padding-right: 15px;
      transform-origin: center;
  }
  .active_s img.dropee {
      transform: rotate(0deg);
  }
}

button.navbar-togggle {
  float: none;
  font-size: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  display: block !important;
  background: transparent;
}

.close__s_btn {
  cursor: pointer;
}

button.navbar-togggle i {
  margin-top: 0;
  font-size: 26px;
  line-height: 26px;
}



.megamenu.mobile_mega_nav.open_menu { 
  left: 0;
}

.template-collection div.shogun-root {
  margin: 0 auto;
  padding: 0 15px;
}

.first_section>div {
  position: relative;
  z-index: 2;
}

.first_section::after {
  content: '';
  position: absolute;
  left: -50%;
  right: -50%;
  width: 200%;
  height: 100%;
  background: #3F3E40;
  z-index: 1;
  top: 0;
}

.first_section {
  position: relative;
}

.ReactModal__Overlay .bundle-builder-app--product--quantity,
.ReactModal__Overlay bundle-builder-app--bundle--contents--quantity {
  max-width: 280px;
  width: 100%;
}

.ReactModal__Overlay .bundle-builder-app--bundle--product,
.ReactModal__Overlay .bundle-builder-app--bundle--contents-item {
  text-align: left;
}

.ReactModal__Overlay h3.bundle-builder-app--bundle--contents-name {
  font-size: 18px !important;
  line-height: 24px !important;
  text-align: left;
}

.newsletter .input-group-field::placeholder {
  color: #fff;
  opacity: 1;
}

div#shopify-section-1594325796943 .ct-block-horizontal-right:first-child {
  display: none;
}

.text--text--1600681065399 p,
.text--text--1600681065399 h6 {
  display: none;
}

.text--text--1600496220655 h7 {
  text-decoration: underline;
}

div#shopify-section-1594341945448 .grid-inner.grid-inner-1594341945448 {
  padding-top: 30px;
  padding-bottom: 30px;
}

div#shopify-section-1594342426563 .tabs-product-home.tabs-product-carousel.grid.margin-bottom-0 {
  padding-bottom: 60px !important;
}

.promobox-1600496580486 {
  display: none;
}

div#shopify-section-1600496207775 {
  display: none;
}

div#shopify-section-1595261952821 .slick-dots li button {
  background: #575558;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;
}

div#shopify-section-1595261952821 .slick-dots li {
  width: auto;
  margin: 0 5px;
}

div#shopify-section-1595261952821 .slick-dots li button::before {
  display: none;
}

div#shopify-section-1595261952821 .slick-dots li.slick-active button {
  background: #bbb3b1;
}

.product--se {
  display: none;
}

.text--text--1600497869675 {
  display: none;
  padding: 0 15px !important;
}

.text--text--1600498542859 {
  display: none;
  padding: 0 15px !important;
  margin-bottom: -40px;
  z-index: 1;
}

body .breadcrumb {
  color: #fff;
  a {
      text-transform: uppercase;
      color: #fff;
      &:hover,
      &:focus {
          text-decoration: underline;
          color: #fff;
      }
  }
}

.filter-wr .sidebar-custom li label:hover,
.filter-wr .sidebar-custom li a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.footer-container .footer-center .footer-link ul li a:hover,
.footer-container .footer-center .footer-link ul li a:focus {
  text-decoration: underline;
  color: #000;
}

#jade-trau-dev .container.main_container {
  padding-top: 55px;
}

body #contact_form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("//cdn.shopify.com/s/files/1/0418/3723/2292/t/12/assets/down-arrow.svg?v=11546239440886620825");
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 15px;
}

body #contact_form input,
body #contact_form textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.template-product .form-wr .hello .quantity,
.template-product .form-wr .hello #quantity {
  border-radius: 0px;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */

.header-wrapper .search-results {
  scrollbar-width: auto;
  scrollbar-color: #a7a4a8 #ffffff;
  -webkit-overflow-scrolling: touch;
}

/* Chrome, Edge, and Safari */

.header-wrapper .search-results::-webkit-scrollbar {
  width: 12px;
}

.header-wrapper .search-results::-webkit-scrollbar-track {
  background: #ffffff;
}

.header-wrapper .search-results::-webkit-scrollbar-thumb {
  background-color: #a7a4a8;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body.active-search {
  overflow: hidden !important;
}

.header-wrapper .search-results {
  overflow-y: scroll;
  height: 450px
}

.header-wrapper .search-results {
  width: 100%;
}

#search-top .search-form .search-close {
  margin-bottom: 0;
}

input#updates_40966892322980 {
  text-align: center;
}

.related-heading h4 {
  text-align: center;
  padding-top: 99px;
  padding-bottom: 30px;
}
.dropdown-subs .dropdown-menu-inner {
  padding-top: 40px !important;
}

.second-menu {
  text-align: center;
}

cart.hidden-sm.hidden-md.hidden-lg.navigable {
  position: absolute !Important;
  left: 79% !Important;
  bottom: 67% !Important;
}

 

@media only screen and (min-width: 576px) {
  .template-collection div.shogun-root {
      max-width: 540px;
  }
  body#virtual-appointments[data-page="virtual-appointments"] main.main-content div#__pf [data-container="false"]:not(:last-child) {
      max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .template-collection div.shogun-root {
      max-width: 720px;
  }
  body#virtual-appointments[data-page="virtual-appointments"] main.main-content div#__pf [data-container="false"]:not(:last-child) {
      max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .template-collection div.shogun-root {
      max-width: 960px;
  }
  body#virtual-appointments[data-page="virtual-appointments"] main.main-content div#__pf [data-container="false"]:not(:last-child) {
      max-width: 960px;
  }
}

@media only screen and (min-width: 1024px) {
  .search-results span.price {
      float: left;
  }
  .header-wrapper .search-results {
      max-height: 100%;
  }
  body .header-absolute .header.is-ticky {
      background-color: transparent !important;
  }
  body .dropdown-subs .dropdown-menu-inner .sub-menu-lv2 .col-lg-3:nth-child(4) .col-lg .widget-inner li:nth-child(6) a {
      text-decoration: none !important;
      font-size: 16px !important;
  }
  body .header.header-center.full-width .megamenu .dropdown-subs .nav-links.sub-menu-lv3 a {
      text-transform: capitalize !important;
      font-size: 14px !important;
      line-height: 21px !important;
      letter-spacing: 0.03em !important;
      font-family: 'Columbia Sans' !important;
      font-weight: 400 !important;
      text-align: left !important;
      white-space: nowrap !important;
  }
  .header.header-center.full-width.is-ticky {
      /*        box-shadow: 8px 0 4px rgba(0, 0, 0, 0.17); */
  }
  .site-nav li.megamenu-dropdow>.dropdown-subs::after {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17);
      left: -111px;
  }
  .site-nav li.megamenu-dropdow>.dropdown-subs::before {
      left: -111px;
  }
  body .Arrivals span,
  body .Friends span,
  body .About.The.Brand span {
      font-family: goldenbook !important;
      height: 30px !important;
      font-size: 16px !important;
      /*     font-size: 22px!important; */
      font-weight: 300 !important;
      text-transform: uppercase !important;
      line-height: 1.4;
      letter-spacing: 0px !important;
      display: block;
      /*     margin-bottom: 30px; */
  }
  .site-nav a {
      display: block;
      padding: 0px 0px !important;
  } 
}

@media only screen and (min-width: 1200px) {
  .template-collection div.shogun-root {
      max-width: 1140px;
  }
  body#virtual-appointments[data-page="virtual-appointments"] main.main-content div#__pf [data-container="false"]:not(:last-child) {
      max-width: 1140px;
  }
  body .Arrivals span,
  body .Friends span,
  body .About.The.Brand span {
      font-family: goldenbook !important;
      height: 15px !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      text-transform: uppercase !important;
      line-height: 1.4;
      letter-spacing: 0px !important;
      display: block;
      margin-bottom: 30px;
  }
  a.menu-title.Get.Started {
      text-align: center !important;
  }
  a.menu-title.Guide.to.Custom {
      text-align: center !important;
  }
  a.menu-title.Our.Gallery {
      text-align: center !important;
  }
  body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title {
      font-family: 'Columbia Sans' !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      letter-spacing: 0px !important;
      text-align: left;
      margin-left:0px !important;
      color: #3F3E40;
  }
  body .dropdown-subs .dropdown-menu-inner .sub-menu-lv2 .col-lg-3:nth-child(4) .col-lg .widget-inner li:nth-child(6) a {
      text-decoration: none !important;
      font-size: 22px !important;
      leter-spacing: -1px !important;
  }
}

@media only screen and (min-width: 1450px) {
  .template-collection div.shogun-root {
      max-width: 1440px;
  }
  body#virtual-appointments[data-page="virtual-appointments"] main.main-content div#__pf [data-container="false"]:not(:last-child) {
      max-width: 1440px;
  }
}

@media only screen and (max-width:1024px) {
  .megamenu-dropdow .nav-links .widget-inner a>span {
      color: #fff;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;
      font-weight: 700;
      font-family: Columbia Sans;
  }
  .megamenu-dropdow .nav-links .widget-inner img.dropee {
      object-fit: unset !important;
      max-width: 12px;
      padding: 0 !important;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 0px;
      z-index: 99;
  }
  .mob_wr .search-top-container {
      vertical-align: middle;
      display: inline-block;
      line-height: normal;
      position: relative;
      top: 3px;
  }
  .mob_wr #search-top .clever-icon-search-4 {
      margin-top: 0;
      color: white;
  }
  #header-mobile .mob_wr .wishlist-cart {
      width: auto;
      order: 2;
      vertical-align: middle;
      display: inline-block;
      float: none;

  }
  #header-mobile .logo-avc {
    width: 70%; 
  }
  .mob_wr {
      display: flex;
      float: right;
      vertical-align: middle;
      align-items: center;
    justify-content: end;
    width: 13%;
  }
  .megamenu.mobile_mega_nav li {
      text-align: left;
  }
  body.template-collection .toolbar .description p {
      font-size: 25px !important;
      line-height: 30px !important;
  }
}

@media (min-width:1024px) and (max-width:1199px) {
  .footer-container .footer-center .footer-copyrights {
      padding: 40px 0px 30px 0px;
  }
  .instagram-bottom .heading-block h3 {
      font-size: 40px !important;
  }
  .footer-container .footer-center h3.module-title {
      font-size: 12px !important;
      line-height: 24px !important;
    font-weight: 500 !important;
  }
  #shopify-section-1594335851656 .row.align-horizontal-.align-vertical-top {
      min-height: 500px !important;
  }
  #shopify-section-1594335851656 .grid-inner {
      background-size: 100%;
  }
  shoutout {
      font-size: 40px !important;
      line-height: 45px !important;
  }
  #shopify-section-1594335851656 .col-lg-col-12.col-md-12.col-12.no-group.content-text-custom.ct-block-horizontal-right.ct-block-vertical-top {
      padding-right: 45px !important;
  }
  body h3 {
      font-size: 40px !important;
      line-height: 45px !important;
  }
  .dropdown-subs .dropdown-menu-inner a.menu-title {
      font-size: 20px !important;
  }
  .slide-show .slideshow-wrapper .slideshow .slides .slideshow__slide .slideshow__text-wrap .slideshow_wapper .slideshow__text-content .slide-text.slide-text-2 {
      line-height: 60px;
      font-size: 60px;
  }
  body h7 {
      font-size: 40px !important;
      line-height: 45px !important;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .slideshow ul.slides li.slide .bcg {
      background-attachment: scroll !important;
  }
  #shopify-section-1556008263381 .loadding.slideshow-container {
      margin: 0 !important;
  }
  body .slide-show .slideshow-wrapper .slideshow .flex-direction-nav {
      transform: none;
      display: block !important;
      bottom: 45px;
      left: -30px;
      right: unset;
      max-width: 170px;
      margin: 0;
      top: unset;
  }
  .size-50 {
      font-size: 40px;
  }
  #shopify-section-16106926206a61c5b4 {
      padding-bottom: 60px;
  }
  #shopify-section-1594342426563 .product-featured.tabs-product.row {
      margin-top: 5px;
  }
  .content-text-custom p br {
      display: none;
  }
  #header-mobile .mob_wr .wishlist-cart {
      position: relative;
      top: 6px;
  }
  .logo-sticky img {
      height: 80px !important;
  }
  .mobile_mega_nav .container {
      max-width: 500px;
  }
  body #header-mobile .logo-avc {
      margin-top: 0;
  }
  body h1,
  body .h1 {
      font-size: 30px;
  }
  #shopify-section-1595261952821 .col-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  .product-content h3 a {
      font-size: 20px;
  }
  #shopify-section-1594335851656 {
      margin-top: 0px !important;
  }
  div#shopify-section-1594335851656 .grid-builder-image.margin-bottom-0.grid-builder-1594335851656.parallax_effect--false {
      margin-top: 0 !important;
  }
  #shopify-section-1594335851656 .grid-inner {
      background-size: cover;
  }
  #shopify-section-1594335851656 .grid-inner>div {
      min-height: 400px !important;
  }
  .is-ticky .logo-sticky img {
      position: relative;
      top: 0;
  }
  shoutout {
      font-size: 30px !important;
      line-height: 35px !important;
  }
  body h7 {
      font-size: 30px !important;
      line-height: 35px !important;
  }
  .slide-show .slideshow-wrapper .slideshow .slides .slideshow__slide .slideshow__text-wrap .slideshow_wapper .slideshow__text-content .slide-text.slide-text-2 {
      line-height: 55px;
      font-size: 50px;
  }
  .newsletter .input-group-field {
      padding: 10px 0px;
  }
  .instagram-bottom .heading-block h3 {
      font-size: 40px !important;
  }
  .footer-container .footer-center .footer-copyrights {
      padding: 40px 0px 30px 0px;
  }
  body h3 {
      font-size: 30px !important;
      line-height: 35px !important;
  }
  .footer-container .footer-center h3.module-title {
      font-size: 12px !important;
      line-height: 22px !important;
      font-weight: 500 !important;
  }
} 

@media only screen and (max-width:767px) {
  .header-wrapper .search-results {
      overflow-x: hidden;
  }
  .template-product .form-wr button#product-add-to-cartt.btn {
      width: calc(100% - 10px);
      margin-left: 10px;
  }
  .template-product .form-wr .hello .quantity,
  .template-product .form-wr .hello #quantity {
      padding: 14px 10px;
      margin: 0;
      border-radius: 0px;
  }
  .template-product .breadcrumb {
      margin-top: 30px;
  }
  .jade_stack_videos iframe {
      height: 220px;
  }
  .bundle-builder-app--bundle--nav-buttons--next {
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .slideshow_wapper .ct-block-horizontal-left,
  .slideshow_wapper .text_align_left {
      text-align: center;
      width: 100%;
  }
  .slideshow_wapper .slideshow__text-content {
      padding: 0px;
      width: 100%;
  }
  /* body#stockists div#header-mobile {
      background: #3F3E40;
  } */
  /* body#stockists main.main-content {
      padding-top: 50px;
  } */
  body#stockists h6 {
      margin: 0 0 10px;
  }
  .template-collection table td {
      padding: 0;
  }
  .template-collection div.shogun-root {
      padding: 15px 0 0;
  }
  body.template-collection .toolbar .description p {
      font-size: 30px !important;
      text-align: right !important;
      padding: 0 15px;
      margin-top: 0px;
  }
  body.template-collection .loading-more {
      font-size: 0;
      border: 0;
  }
  body.template-collection .loading-more::after {
      display: none;
  }
  body.template-collection .loading-more::before {
      content: "load more";
      color: #fff;
      font-size: 18px;
      font-family: Goldenbook;
      text-decoration: underline;
  }
  .promobox-1600496580486 {
      display: block;
  }
  .product-featured-content {
      float: left;
  }
  .text--text--1594395656212 .sub-heading p,
  .text--text--1594395656212 .sub-heading h6 {
      display: none;
  }
  .text--text--1600497869675 {
      display: block;
  }
  .text--text--1600498542859 {
      display: block;
  }
  .text--text--1594397631475 .sub-heading h3 {
      display: none;
  }
  .text--text--1594397631475 {
      margin-top: 20px !important;
  }
  .product--se a {
      text-transform: uppercase;
      color: #fff;
      text-decoration: underline;
      font-size: 18px;
      font-family: Goldenbook;
  }
  .product--se {
      display: block;
      float: left;
      margin-top: 30px;
  }
  div#shopify-section-1600496207775 {
      display: block;
      padding: 0 15px !important;
  }
  div#shopify-section-1595261952821 .col-lg-4.group[aria-describedby="slick-slide00"] .ct-block-horizontal-left.ct-block-vertical-top {
      display: none;
  }
  .promobox-1595263100113 {
      display: none !important;
  }
  .megamenu.mobile_mega_nav {
      padding: 0 0 25px 0px;
  }
  .tabs-product-carousel .owl-theme .owl-nav {
      top: unset;
      margin-top: 0;
      bottom: 25px;
      left: -15px;
      right: unset;
      width: auto;
      margin: 0;
  }
  .home-blog .owl-carousel .owl-nav button.owl-next,
  .main-brand .owl-carousel .owl-nav button.owl-next,
  .related-products .owl-carousel .owl-nav button.owl-next,
  .tabs-product-home .owl-carousel .owl-nav button.owl-next,
  .instagram-bottom .owl-carousel .owl-nav button.owl-next {
      right: unset;
      left: 50px;
  }
  .home-blog .owl-carousel .owl-nav button.owl-prev,
  .home-blog .owl-carousel .owl-nav button.owl-next,
  .related-products .owl-carousel .owl-nav button.owl-prev,
  .related-products .owl-carousel .owl-nav button.owl-next,
  .tabs-product-home .owl-carousel .owl-nav button.owl-prev,
  .tabs-product-home .owl-carousel .owl-nav button.owl-next,
  .instagram-bottom .owl-carousel .owl-nav button.owl-prev,
  .instagram-bottom .owl-carousel .owl-nav button.owl-next,
  .main-brand .owl-carousel .owl-nav button.owl-prev,
  .main-brand .owl-carousel .owl-nav button.owl-next {
      width: 30px;
      height: 30px;
      line-height: 30px;
      background: transparent !important;
      margin: 0;
  }
  .tabs-product-home .owl-carousel .owl-nav button.owl-prev:hover,
  .tabs-product-home .owl-carousel .owl-nav button.owl-next:hover,
  .instagram-bottom .owl-carousel .owl-nav button.owl-prev:hover,
  .instagram-bottom .owl-carousel .owl-nav button.owl-next:hover,
  .main-brand .owl-carousel .owl-nav button.owl-prev:hover,
  .main-brand .owl-carousel .owl-nav button.owl-next:hover {
      background: transparent !important;
  }
  .slide-show .flex-direction-nav li a {
      height: 30px;
      width: 30px;
      line-height: 30px !important;
  }
  .slide-show .slideshow-wrapper .slideshow .flex-direction-nav {
      top: unset;
      transform: none;
      width: 40%;
      bottom: 20px;
      display: block !important;
      left: -30px;
  }
  .slide-show .slideshow-wrapper.button_size_medium .slideshow .flex-direction-nav li a {
      font-size: 15px;
  }
  .home-newsletter .newsletter .input-group-btn>.btn {
      background: transparent !important;
      width: auto !important;
      text-decoration: underline;
      font-family: goldenbook !important;
      font-size: 16px;
  }
  #shopify-section-1594341945448 .grid-builder-image {
      margin: 55px 0 0 0 !important;
      padding: 50px 0 40px 0;
  }
  .newsletter .input-group-field {
      width: 100%;
      margin-bottom: 10px;
  }
  .newsletter .input-group {
      width: 100%;
      display: block;
  }
  #shopify-section-1594395599471 .image {
      margin-top: -50px;
      position: relative !important;
      z-index: -1;
  }
  .slide.slideshow__slide .bcg {
      background-position: center center !important;
      background-attachment: scroll !important;
      background-size: cover;
  }
  .slide.slideshow__slide .bcg.slideshow__image--1601054722536 {
      background-position: center right !important;
  }
  .slider-1556008263381 .slides,
  .slider-1556008263381 .slides .slideshow__image {
      height: 60vh !important;
  }
  .template-index #header-mobile {
      position: absolute;
      border-bottom: 1px solid #fff !important;
  }
  body:not(.template-index) #header-mobile {
      position: unset;
      background: #efefef;
  }
  #header-mobile {
      left: 0;
      top: 18px;
      right: 0;
      z-index: 99;
      border-bottom: 1px solid #3f3e40;
  }
  .template-index button.navbar-togggle i {
      color: #fff;
  }
  body #header-mobile.is-ticky {
      position: fixed;
  }
  .sidebar-block .title h3,
  .sidebar-links .title h3,
  .addlabel.active .filter-title-wr {
      font-size: 18px !important;
  }
  .template-collection div#shopify-section-collection-template {
      padding-top: 10px;
  }
  .template-collection div.shogun-root {
      margin-top: -25px;
      padding-top: 15px;
      padding-left: 0;
      pading-right: 0;
  }
  .header-cart .cartToggle {
      position: relative;
      top: 5px;
  }
  .logo-sticky a img {
      width: 65% !important;
      height: 65% !important;
      object-fit: cover;
      object-position: center center;
  }
  .logo-sticky a {
      height: 60px !important;
      overflow: hidden;
      display: block;
      position: relative;
      top: -5px;
  }
  .footer-container .footer-center .footer-copyrights {
      padding: 20px 15px;
  }
  .footer-copyright{
      font-size: 10px !important; 
  }
  .footer-center .col-md-3.col-12 {
      margin-bottom: 30px;
  }
  .footer-container .footer-center h3.module-title { 
      font-size: 12px !important;
      line-height: 24px !important;
      margin-bottom: 15px !important;
      font-weight: 500 !important;
  }
  
  .footer-container .input-group-field, 
  .footer-container .btn, 
  .footer-container p, 
  .footer-container .btn:before, 
  .footer-container .footer-center .footer-link ul li a {
      font-size: 12px !important;
      font-weight: 300 !important;
  }
  .footer-container .input-group-field:focus, 
  .footer-container .btn:focus, 
  .footer-container p:focus, 
  .footer-container .btn:before, 
  .footer-container .footer-center .footer-link ul li a:focus{
      font-weight: 500 !important;
  }
  .instagram-bottom .heading-block h3 {
      font-size: 25px !important;
  }
  #shopify-section-1594335851656 .grid-inner {
      background-size: 600px;
  }
  #shopify-section-1594335851656 .col-lg-col-12.col-md-12.col-12.no-group.content-text-custom.ct-block-horizontal-right.ct-block-vertical-top {
      padding: 0 30px !important;
  }
  #shopify-section-1594335851656 .row.align-horizontal-.align-vertical-top {
      min-height: 600px !important;
      padding-top: 300px;
  }
  .newsletter .input-group-field {
      padding: 10px 0px;
  }
  #shopify-section-1594395599471 .col-lg-col-12.col-md-6.col-12.no-group.content-text-custom.ct-block-horizontal-left.ct-block-vertical-top {
      padding: 0 15px !important;
      margin-bottom: 10px;
  }
  #shopify-section-1595261952821 .add-space.col-12.col-md-4.margin-bottom- {
      margin-top: 0 !important;
  }
  body .heading-block {
      text-align: left !important;
      margin-bottom: 25px !important;
      margin-top: 60px !important;
  }
  .tabs-product-home.tabs-product-carousel.grid.margin-bottom-100 {
      margin-bottom: 60px !important;
      padding-bottom: 50px !important;
      margin-top: 0 !important;
  }
  #shopify-section-1595261952821 .add-space.col-12.col-md-4.margin-bottom- {
      margin-top: 0px !important;
  }
  #shopify-section-1594335701343 .add-space {
      margin-top: 40px !important;
  }
  #shopify-section-1594335851656 {
      margin-top: 60px !important;
  }
  shoutout {
      font-size: 35px !important;
      line-height: 40px !important;
  }
  #shopify-section-1595261952821 .col-lg-col-12.col-md-12.ct-block-horizontal-left.ct-block-vertical-top {
      padding: 0 15px !important;
  }
  #shopify-section-1595261952821 .add-space.col-12.col-md-12.margin-bottom- {
      margin: 0 !important;
  }
  body h7 {
      font-size: 35px !important;
      line-height: 35px !important;
  }
  body h6,
  body .h6 {
      font-size: 14px;
      letter-spacing: 2px;
  }
  .grid-builder-image.margin-bottom-10.grid-builder-1594325796943.parallax_effect--false {
      margin-top: 0 !important;
  }
  body h3 {
      font-size: 35px !important;
      line-height: 40px !important;
  }
  .col-lg-col-12.col-md-6.col-12.no-group.content-text-custom.ct-block-horizontal-right.ct-block-vertical-top {
      text-align: right;
      padding: 0 15px !important;
      margin-top: -30px;
  }
  .popup-cookie .cookies-inner .notification-cookies .popup-cookie-button .button-btn-2 {
      margin: 0;
  }
  .popup-cookie .cookies-inner .notification-cookies p {
      text-align: center;
      margin-bottom: 20px;
  }
  .popup-cookie .cookies-inner {
      padding: 15px 15px;
      text-align: center !important;
  }
  .slide-show .slideshow-wrapper .slideshow .slides .slideshow__slide .slideshow__text-wrap .slideshow_wapper .slideshow__text-content .slide-text.slide-text-2 {
      line-height: 40px;
      font-size: 35px;
  }
  body.template-collection .shogun-root table tr {
      display: flex;
      flex-wrap: wrap;
  }
  .template-collection .shogun-root table td,
  .template-collection .shogun-root table th {
      width: 100%;
  }
  .template-collection table td:nth-child(2) {
      transform: none;
      width: 100%;
  }
  .template-collection table tr {
      display: block;
  }
  .collection-page .products-grid.product-grid-item>div {
      max-width: 100% !important;
      padding: 0 !important;
      flex: 0 0 100%;
  }
  div#shopify-section-1594325796943 .ct-block-horizontal-right:nth-child(3) .sub-heading h3 {
      display: none;
  }
  div#shopify-section-1594325796943 .ct-block-horizontal-right:nth-child(3) {
      margin-top: 10px;
  }
  div#shopify-section-1594325796943 .ct-block-horizontal-right:first-child {
      display: block;
      padding: 0 15px !important;
      margin-bottom: -40px;
      z-index: 1;
  }
}

@media only screen and (max-width:1100px) and (min-width:981px) {
  div#shopify-section-1632932486abf265a2 {
      padding-top: 50px;
  }
  div#shopify-section-1632931886271e104d {
      padding-bottom: 50px !important;
  }
  #header-mobile {
      background: #3f3e40 !important;
  }
  .add-space {
      display: none;
  }
  div#shopify-section-1594335851656 .align-vertical-center,
  .ct_block-vertical-center {
      align-items: flex-start;
      align-content: flex-start;
  }
  .home-carousel-banner.loadding.carousel_center.margin-bottom-100 {
      margin-bottom: 0px !important;
  }
  div#shopify-section-1594335851656 .row.align-horizontal-.align-vertical-center {
      min-height: auto !important;
      margin-bottom: 9px !important;
  }
  div#shopify-section-1632931947425d0862 .row.align-horizontal-.align-vertical-top {
      min-height: auto !important;
      margin-top: 0px !important;
  }
  div#shopify-section-16106926206a61c5b4 {
      padding-bottom: 60px;
  }
  div#shopify-section-1594341945448 .grid-builder-image {
      padding: 30px 15px !important;
  }
}

@media only screen and (max-width:980px) {
  .grid-builder-image .promobox .promobox-content .promobox-image-video .image:hover img {
      -webkit-transform: none !important;
      transform: none !important;
  }
  .tabs-product {
      margin-top: 0px !important;
  }
  .slick-next {
      right: -17px;
      top: 35px !important;
      width: 30px !important;
      height: 30px !important;
  }
  .add-space {
      display: none;
  }
  div#shopify-section-1594335851656 .align-vertical-center,
  .ct_block-vertical-center {
      align-items: flex-start;
      align-content: flex-start;
  }
  .home-carousel-banner.loadding.carousel_center.margin-bottom-100 {
      margin-bottom: 0px !important;
  }
  div#shopify-section-1594335851656 .row.align-horizontal-.align-vertical-center {
      min-height: auto !important;
      margin-bottom: 10px !important;
  }
  div#shopify-section-1632931947425d0862 .row.align-horizontal-.align-vertical-top {
      min-height: auto !important;
      margin-top: -16px !important;
  }
  div#shopify-section-16106926206a61c5b4 {
      padding-bottom: 60px;
  }
  div#shopify-section-1594341945448 .grid-builder-image {
      padding: 30px 15px !important;
  }
}

@media only screen and (max-width:768px) {
  a.navigable span {
      height: 39px !important;
      color: #3f3e40;
  }
  div#shopify-section-1594335851656 .grid-builder-image {
      margin-top: 0 !important;
  }
  div#shopify-section-1628693904dd04d98a .section-heading.margin-bottom-1 {
      margin-top: 45px !important;
  }
}

@media only screen and (max-width:580px) {
  .header-wrapper .search-results {
      overflow-y: scroll;
      height: 350px
  }
}  

@media only screen and (min-width: 750px) {
  i.cs-font.clever-icon-cart-1 {
      color: #3f3e40 !important;
  }
} 

@media only screen and (max-width: 751px) {
  .is-ticky i.cs-font.clever-icon-cart-1 {
      color: #3f3e40 !important;
  }
  .is-ticky .mob_wr #search-top .clever-icon-search-4 {
      color: #3f3e40 !important;
  }
  .is-ticky button.navbar-togggle i {
      color: #3f3e40 !important;
  }
  .is-ticky .a {
      fill: #3f3e40 !important;
  }
  .megamenu.mobile_mega_nav.open_menu>.container:before,
  .megamenu.mobile_mega_nav.open_menu>.container:after {
      border-bottom: 1px solid #3f3e40 !important;
  }
  .myaccount h2 {
      color: #3f3e40 !important;
  }
  .myaccount button.btn {
      border: 1px solid #3f3e40 !important;
      color: #3f3e40 !important;
  }
  a.card-title,
  a.card-title:focus {
      color: #3f3e40 !important;
  }
} 

@media only screen and (max-width: 576px) {
  #header-mobile.is-ticky {
      border-bottom: 1px solid #3f3e40 !important;
  }
}

#the-24-7-collection .globo-form-control .flat-input { 
    border: 1px solid #9f9f9f;
}