/* Header Menu Css Start*/


/*body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.shop .dropdown-menu-inner .mm-image:hover .viewallcoll a span{font-weight:300 !important}
body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.discover .dropdown-menu-inner .mm-image:hover .viewallcoll a span{font-weight:300 !important}
*/



/* Collection */

body .toolbar-new .custom_coll_hd h1 { 
    font-weight: 200 !important;
}
body .toolbar-new .custom_coll_hd {
    font-size: 12px !important;
    margin-bottom: 0;
}
body .collections-pages .description-new p {
    font-size: 16px !important;
    font-weight: 200 !important;
}
body .collections-pages select,
body .collections-pages .checkbox-qty span {
    font-family: "arimo" !important;
}
body .collections-pages .product-content .price-box {
    font-size: 13px !important;
}
body .collections-pages .bicustom_grid_image .content-area .title {
    font-family: "Columbia Sans" !important;
    font-size: 50px !important;
    font-weight: 200 !important;
    padding-bottom: 25px !important;
}
body .collections-pages .products-grid .description {
    font-weight: 200 !important;
    font-size: 16px !important;
    font-family: "Columbia Sans" !important;
    padding-bottom: 15px !important;
}
body .collections-pages .products-grid .content-area a {
    font-family: "arimo" !important;
    font-size: 12px !important;
    padding: 15px 40px;
}
body .collections-pages .collection_custom_wr .product-grid-isotope-parent .pagination-wrap .infinite-scrolling a {
    font-size: 14px !important;  
    font-weight: 400 !important;
    padding: 4px 70px !important; 
    background: #a2ba7a !important;
    border-color: #a2ba7a !important;
    color: #000 !important;
}
body .collections-pages .collection_custom_wr .product-grid-isotope-parent .pagination-wrap .infinite-scrolling a:hover {
    background: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}
body .collection-page .product-grid-item .grid-item {
    padding-bottom: 50px;
}


body .collections-pages .products-grid .product-items{padding: 0 14px !important;}
body .collections-pages .collection_custom_wr .products-grid .custom_grid_image .row .product-items{padding: 0 14px !important;}
body.colection_fulwidth .collections-pages .collection_custom_wr{background:#FAFAFA !important}
body.colection_fulwidth .collections-pages .col-main.collection-page{background:#FAFAFA !important}

@media (max-width: 480px) { 
  
  body .collections-pages .collection_custom_wr .collection_custom_wr .product-grid-isotope-parent .pagination-wrap .infinite-scrolling a{width:100% !important}
  
}



/* .collections-pages .collection-page .product-title h1{font-family: 'Columbia Sans' !important;}
.collections-pages.toolbar-new .custom_coll_hd{font-family: 'Columbia Sans' !important;}
.collection_custom_wr .product-content h3 a{font-family: 'Columbia Sans' !important;} */
body .collections-pages .collection_custom_wr .product-content .price-box{font-family: 'arimo' !important;color:#9F9B97 !important; font-size:14px !important}
/* .template-collection .toolbar-new .infinite-scrolling a{font-family: 'arimo' !important;} */

body .header .header-inner .menu-main-home .dropdown-menu-inner .sub-menu-lv2 .menu-title.megamenu.active{font-weight:500 !important}
/* body .header-absolute.header-layout-01{background-color: #fff !important;} */
body .header .header-inner .menu-main-home .menu-action .megamenu ul li{  
    padding-right: 40px !important;
    padding-left: 40px !important;
}
body .wrapper-container .header-absolute.header-layout-01 .megamenu.mobile_mega_nav ul .container1{background-color: #fff !important;}
body .wrapper-container .header-absolute.header-layout-01 .megamenu.mobile_mega_nav .accordion{background: #fff !important;}
body .wrapper-container .header-absolute.header-layout-01 .megamenu.mobile_mega_nav{background-color: #Fff !important;}
body .wrapper-container .header-absolute.header-layout-01 .megamenu.mobile_mega_nav ul li{background-color: #Fff !important;}
body .wrapper-container .header-absolute.header-layout-01 .megamenu.mobile_mega_nav ul li a{background-color: #Fff !important;}
.header-absolute.header-layout-01:hover{background:#fff !important}
.header-layout-01 .header.header-center.full-width.is-ticky{background:#fff !important; background-color:#fff !important}
.header-layout-01 .site-nav li.megamenu-dropdow>.dropdown-subs:after{background:#fff !important; background-color:#fff !important}
.header-layout-01 .header-absolute .header{background-color:#fff !important}
body .header .header-inner .menu-main-home .menu-action .megamenu ul li a{
  font-family: 'Columbia Sans' !important;
  font-weight: 500 !important;
  position:relative;
  letter-spacing:0;
  font-size:15px !important; 
}
body .header.header-center.full-width .megamenu .dropdown-subs .nav-links.sub-menu-lv3 ul li a{
  line-height:18px !important;
}


body .header .header-inner .menu-main-home .menu-action .megamenu ul li:hover a span{
  font-weight:500 !important
} 

.mm-image a:after{display:none !important}
body .header.header-center.full-width .megamenu .dropdown-subs .nav-links.sub-menu-lv3 ul .col-lg{
  padding-left:0 !important;
  padding-right:0 !important;
}
body .dropdown-subs .dropdown-menu-inner{
  padding-bottom:50px !important
}
body .all_menu .col-sm-3.col-6.mm-image.collections .viewallcoll{
  top:123% !important;
}

body .megamenu .dropdown-menu-inner .all_menu .col-sm-3.col-6.mm-image .viewallcoll{
  top:123% !important;
}
body .megamenu .dropdown-menu-inner .all_menu .col-sm-3.col-6.mm-image .mm-inner-image{padding:0 !important}

body .header.header-center.full-width .megamenu .dropdown-subs .nav-links.sub-menu-lv3 ul .col-lg a{
  font-size:16px !important;
  color:#000 !important;
}
body .header .header-inner .menu-main-home .menu-action .megamenu .col-sm-3.col-6.mm-image .viewallcoll a:hover span{
  font-weight:500 !important;
}

.navlink--toplevel::after {
    content: "";
    position: absolute;
    left: var(--link-padding);
    right: var(--link-padding);
    bottom: 0;
    height: 1px;
    background-color: var(--link-hover);
    
}
li.level-top.menu-dropdown.megamenu-dropdow.shop:hover a:after{transform: scaleX(1) !important;}
li.level-top.menu-dropdown.megamenu-dropdow.shop a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "" !important;
    height:1px;
    transform: scaleX(0) !important;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
li.level-top.menu-dropdown.megamenu-dropdow.discover a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "" !important;
    height:1px;
    transform: scaleX(0) !important;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
li.level-top.menu-dropdown.megamenu-dropdow.about a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "" !important;
    height:1px;
    transform: scaleX(0) !important;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
li.level-top.menu-dropdown.megamenu-dropdow.custom a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "" !important;
    height:1px;
    transform: scaleX(0) !important;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
li.level-top.menu-dropdown.megamenu-dropdow.discover:hover a:after {
    transform: scaleX(1) !important;
}
li.level-top.menu-dropdown.megamenu-dropdow.about:hover a:after {
    transform: scaleX(1) !important;
}
li.level-top.menu-dropdown.megamenu-dropdow.custom:hover a:after {
    transform: scaleX(1) !important;
}
li.level-top.menu-dropdown.megamenu-dropdow.shop:focus a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "";
    height:1px;
}
li.level-top.menu-dropdown.megamenu-dropdow.discover:focus a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "";
    height:1px;
}
li.level-top.menu-dropdown.megamenu-dropdow.about:focus a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "";
    height:1px;
}
li.level-top.menu-dropdown.megamenu-dropdow.custom:focus a:after {
    left: 0;
    right: 0;
    bottom: 23px;
    background: #000;
    position: absolute;
    content: "";
    height:1px;
}

body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner li a:before{
   display:none !important;
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .all_menu a:before{ 
  display:none !important;
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner a:before{ 
  display:none !important;
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .all_menu a span{
  text-decoration:none !important
}

body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .mm-image:hover a:first-child span{
  font-weight:500 !important;
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .mm-image:hover a:last-child span{font-weight:300 !important;} 




body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner ul li{
  padding-left:0 !important;padding-right:0 !important
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner ul li a{
  text-decoration:none !important;
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .second-menu a.menu-title span{
  font-weight:500 !important;
}
/* body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .second-menu span.menu-title{
  font-weight:300 !important;
} */
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .second-menu ul li a span{
  font-weight:300 !important;
}
body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .second-menu ul li a:after{display:none !important}


body .header .header-inner .menu-main-home .dropdown-subs .dropdown-menu-inner .second-menu ul li a:hover span{
   font-weight:500 !important;
   text-decoration:none !important;
}

body .header .header-inner .menu-main-home .megamenu-dropdow.custom .dropdown-menu-inner .second-menu a span{
  font-weight:300 !important;
  width: 100%;
}
body .header .header-inner .menu-main-home .megamenu-dropdow.custom .dropdown-menu-inner .second-menu a span.onlyonethis{
  left:0 !important;
  text-align:center !important;
  display:inline-block;
}



body .header .header-inner .menu-main-home .megamenu-dropdow.custom .dropdown-menu-inner .second-menu a span span{
  opacity:0.6;
  font-size:13px !important;
  font-weight:200 !important;
}
body .header .header-inner .menu-main-home .megamenu-dropdow.custom .dropdown-menu-inner .second-menu a:hover span span{
  font-weight:200 !important;
}
body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.shop .dropdown-menu-inner a span{
  font-weight:300 !important;
}
body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.shop .dropdown-menu-inner .mm-inner-image:hover a span{
  font-weight:500 !important;
}
body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.shop .dropdown-menu-inner .mm-inner-image a:hover:after{display:none !important}

body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.discover .dropdown-menu-inner a span{
  font-weight:300 !important;
}
body .header .header-inner .menu-main-home .menu-action .megamenu .megamenu-dropdow.discover .dropdown-menu-inner .mm-inner-image:hover a span{
  font-weight:500 !important;
}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li.discover.level-top a.discover{
  font-family: 'Columbia Sans' !important; font-weight:400 !important
}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li.discover.level-top a.discover span{
  font-family: 'Columbia Sans' !important; 
  font-weight:400 !important;
}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li.discover.level-top a.discover:hover{
  font-weight:500 !important;
}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li #accordion a.card-title{
  font-family: 'Columbia Sans' !important; 
  font-weight:300 !important;
}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li #accordion a.card-title:hover{
  font-weight:500 !important;
}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li #accordion .innermenus a span{
  font-family: 'Columbia Sans' !important; 
  font-weight:300 !important;
  letter-spacing:0 !important}
body .header-wrapper .megamenu.mobile_mega_nav ul.navbar-nav.site-nav li #accordion .innermenus a:hover span{
  font-weight:500 !important; 
  color:#000 !important}

body#your-shopping-cart .header-absolute .header{background-color: #fff !important;}
/* Header Menu Css End*/



/* Cart Page Css Start*/
body#your-shopping-cart .shopify-cleanslate .IcgSIE7pEVZrlnAeRS6j {
    height: 60px !important;
    border-radius:0 !important;
}
body#your-shopping-cart .cart-buttons input#checkout {
    padding: 15px 20px;
    height: auto;
}
body#your-shopping-cart #cart .subtotal-container{max-width: 500px;}
body#your-shopping-cart #cart table tr td.image{
    padding-top: 80px;
    padding-bottom: 80px;
}
body#your-shopping-cart #cart .shipping-left td{padding: 0px}
body#your-shopping-cart #cart .total-row td{padding:40px 0px}
body#your-shopping-cart #cart table tr td{padding: 80px 20px;}
.box-a1{cursor:pointer}
#your-shopping-cart .concierge_service{background: #fafafa;}
#your-shopping-cart .might_like_title{background: #fafafa;}
body #cart{background: #fff !important; padding-bottom: 80px;}
#your-shopping-cart.template-cart h1{ 
  font-family: 'Columbia Sans' !important;
  font-weight: 200 !important;
}
#your-shopping-cart #cart table th{
  font-family: 'Columbia Sans' !important;
  font-weight:300 !important;
  font-size:16px !important;
}
#your-shopping-cart #cart table tr td.item a{
  font-family: 'Columbia Sans' !important;
  font-size:18px !important;
  font-weight:500 !important;
  text-transform:uppercase !important;
  color:#000 !important;
}
#your-shopping-cart #cart table tr td.item a span{
  font-weight:300 !important;
  text-transform: capitalize;
}
#your-shopping-cart #cart table tr.total-row td{
  font-family: 'Columbia Sans' !important;
  font-weight:400 !important;
  text-transform:uppercase;
}
#your-shopping-cart td.price span{
  font-family: 'Columbia Sans' !important; 
  font-size:18px !important;
  font-weight:400 !important;
}
#your-shopping-cart #cart table tr td.qty input.get_updated_quantity{
   font-family: 'Columbia Sans' !important; 
  font-size:18px !important;
  font-weight:400 !important;
}
#your-shopping-cart #cart table tr .remove-cart{
    color: #000 !important;
    font-family: 'arimo';
    text-transform: uppercase;
}
#your-shopping-cart #cart .cart-comment p{
  font-family: 'Columbia Sans' !important; 
  font-size:16px !important;
  font-weight:400 !important;
  letter-spacing:0px !important;
}
#your-shopping-cart #cart .cart-buttons input#checkout{
  background:#3F3E40 !important;
  font-family: 'Arimo' !important; 
  font-weight:400 !important;
  font-size:18px !important;
}
.header-inner .header_twoLi a{ 
  font-weight:500 !important;
  font-size:12px !important;
}
#your-shopping-cart.template-cart h1 a.continue-shopping{
  font-size:14px !important;
  text-decoration:none !important;
  font-family: 'arimo' !important;
}
#your-shopping-cart.template-cart h1 a.continue-shopping:hover{
  color:#3F3E40 !important;
}
#your-shopping-cart.template-cart .main_conc_heading{
  font-family: 'Columbia Sans' !important;
  font-weight:200 !important;
}
#your-shopping-cart.template-cart .related-heading h4{
  font-family: 'Columbia Sans' !important;
  font-weight:200 !important;
}
#your-shopping-cart.template-cart .box-a1 .concierge{
  font-family: 'Columbia Sans' !important;  
  font-weight: 500 !important;
}
#your-shopping-cart.template-cart .box-a1 p.level_summary{
  font-family: 'Columbia Sans' !important;  
  font-weight:300 !important;
  color:#000 !important;
  letter-spacing:0 !important;
  font-size:16px !important;
}
#your-shopping-cart.template-cart .email_num a{
  font-size:16px !important;
  font-weight:300 !important;
  font-family: 'Columbia Sans' !important; 
  letter-spacing:0 !important;
}
#your-shopping-cart.template-cart .phone_num a{
  font-size:16px !important;
  font-weight:300 !important;
  font-family: 'Columbia Sans' !important;
  letter-spacing:0 !important;
}
#your-shopping-cart.template-cart  .product-content h3{
  font-family: 'Columbia Sans' !important;
  text-align:center !important;
  display: flex;
  justify-content: center;
}
#your-shopping-cart.template-cart .product-content h3 a{
  font-weight:200 !important;
  font-family: 'Columbia Sans' !important;
  line-height: 1.1;
  text-align:center !important;
}
#your-shopping-cart.template-cart .products-grid .product-content .price-box{
  text-align:center !important;
}
#your-shopping-cart.template-cart .products-grid .product-content .price-box .regular-product span{
  font-weight:200 !important;
  font-family: 'Columbia Sans' !important;
  color:#9F9B97 !important;
  font-size:20px !important;
  text-align:center !important;
}
#your-shopping-cart.template-cart .grid-item .product-content{
  text-align:center !important
}

@media (max-width: 767px) {
  #your-shopping-cart.template-cart .product-content h3 a{
    font-size:14px !important;}
   #your-shopping-cart.template-cart .products-grid .product-content .price-box{
   text-align:center !important; font-family: 'Columbia Sans' !important;}
  #your-shopping-cart.template-cart .product-content .price-box{
    text-align:center !important; font-family: 'Columbia Sans' !important; color:#9F9B97 !important;font-size: 10px !important;}
  #your-shopping-cart #cart table tr td.item a{font-size:12px !important}
}

/* Cart Page Css End*/
.ff-columbia-sans{
  font-family: 'Columbia Sans' !important;
}
.ff-poppins{
  font-family: 'Poppins' !important;
}
.ff-goldenbook{
  font-family: 'Goldenbook' !important;
}
.fw-300{
  font-weight: 300 !important;
}
.fw-400{
  font-weight: 400 !important;
}
.fw-600{
  font-weight: 600 !important;
}
.uppercase{
  text-transform: uppercase !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.mt-16{
   margin-top: 16px !important;
}
.mt-20{
   margin-top: 20px !important;
}
.mt-24{
   margin-top: 24px !important;
}
.mb-80 {
    margin-bottom: 80px;
}
.p-90{
  padding: 90px;
}
.ff-size{
  font-size: 12px;
  line-height: 18px; 
  letter-spacing: 0.04em;
}
.ff-size-14{
  font-size: 14px;
  line-height: 21px; 
  letter-spacing: 0.04em;
}
.cursor-pointer{
  cursor: pointer;
}
.header-inner .top-currency {
    vertical-align: unset;
}
.underline {
    text-decoration: underline;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.bg-efef{
  background: #EFEFEF;
}
.bg-dcdc{
  background: #DCDCDC;
} 
.bg-f5f5{ 
  background: #F5F5F5;
}
.align-center{
  align-items: center;
}
.height-65vh{
  height: 65vh;
}
.template-product .product-shop .prices .price.on-sale {
    font-size: 18px;
    font-weight: 700;
    padding-right: 5px;
}
.template-product .product-shop .prices {
    display: flex !important;
    flex-direction: row-reverse;
}
.prices-wr .prices .compare-price {
    text-decoration: line-through;
}
#contact_form input,
#contact_form textarea {
    border-radius: 0px;
    color: #000;
    opacity: 1;
    background: #fff;
    line-height: normal;
}

.template-page div[data-pf-type="Section"]:first-child::after {
    bottom: 80px !important;
}

.collection-template-bundel-back {
    padding-top: 30px !important;
}

.custom-text-product {
    font-family: Goldenbook !important;
    font-size: 50px;
    line-height: normal;
    font-weight: 300;
    text-align: right;
    color: #fff;
    padding-top: 20px;
    text-transform: uppercase;
    line-height: 44px;
}

/* SEARCH RESULTS */

.search-page .page-header h2 {
    margin-bottom: 20px;
    color: #fff;
}
.color-swatch-item {
    display: none !important;
}
.template-search .search-page .input-group {
    text-align: center;
    width: 100% !important;
    padding: 30px 0;
}
.template-search .search-page .input-group-btn > button::after {
    content: "\c013";
    font-family: "cleversoft" !important;
    font-size: 11px;
    color: #bcbbb9;
    display: none !important;
}

/*BUNDLE BUILDER*/

/*CART*/
.progres-cart .progressbar.full-process {
    display: block;
    display: none !important;
    font-size: 18px !important;
}

.template-cart h1 {
    color: #fff !important;
    padding-top: 56px;
}

#cart .expanded-message a {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border: none !important;
    display: inline-block;
    padding: 0 20px;
    color: #000;
    background: #3f3e40 !important;
    margin-top: 20px;
    margin-bottom: 50px !important;
}

#cart .expanded-message a:hover {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border: none !important;
    display: inline-block;
    padding: 0 20px;
    color: #000;
    background: #000 !important;
    margin-top: 20px;
    margin-bottom: 50px !important;
}

#dropdown-cart .view-cart a {
    color: #fff;
    border: none;
    background-color: #3f3e40 !important;
}

/*.grid-item .product-content h3 a {
color:#3f3e40!important;
}
.grid-item .product-content h3 a:hover {
color:#bbb2b2!important;
}

.product-content .price-box {
font-family: Goldenbook-Bold;
font-size: 14px;
color: #3f3e40!important;
}*/

/*EVENT CAL*/
.event .event-title {
    font-size: 24px !important;
    font-family: goldenbook !important;
    color: #fff !important;
}
/*EVENT CAL*/

/* body {
  background-color: #3F3E40!important;
  font-family: sofia-pro!important;
} 

.footer-container .footer-center {
  background-color: #EFEFEF !important;
} */
/*SHIPPING*/
.jjYIOP th {
    background: rgb(240, 233, 230) !important;
}

/*SIZING GUIDE - AFFIRM*/

.__pf .pf-d0d8e391,
.__pf .pf-e3914800,
.__pf .pf-480047f7,
.__pf .pf-a1396af6,
.__pf .pf-3d5f95c7 {
    font-weight: 700;
    border-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0px 0px 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding: 15px;
    color: #fff !important;
    background: transparent !important;
    border-top: 1px rgb(207, 200, 200) solid !important;
    border-bottom: 0px !important;
}

.__pf .pf-7a6fc4bc,
.__pf .pf-f9f262ea,
.__pf .pf-25d8d26d,
.__pf .pf-aecab4c7,
.__pf .pf-5ad29516,
.__pf .pf-00b5bc92,
.__pf .pf-1c68b67b,
.__pf .pf-33fd6396,
.__pf .pf-a811693e,
.__pf .pf-a811693e,
.__pf .pf-37c0d25b {
    font-weight: 700;
    border-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0px 0px 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding: 15px;
    color: #fff !important;
    background: transparent !important;
    border-top: 1px #4c4a4d solid !important;
    border-bottom: 0px !important;
    font-size: 14px !important;
}

/*PAGES*/
#collections,
#discover,
#story,
#concierge,
#bespoke,
#earrings,
#rings,
#bracelets,
#just-in,
#necklaces,
#products {
    background-color: #bbb2b2 !important;
}

#header-content {
    background-color: transparent !important;
}

/*#header-content {
background-color: #3F3E40!important;
}*/

/*PAGES*/

/*PRODUCTS*/
#shopify-section-product-template {
    background-color: #bbb2b2 !important;
}

.related-products {
    text-align: center;
    background-color: #fff !important;
}

/*PRODUCTS*/

/* .tabs-product-home .heading-section-tabs .heading-block h3 {
    font-family: goldenbook !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 { 
    text-transform: uppercase !important;
    font-weight: 300 !important;
}

h3 {
    font-size: 60px !important;
    line-height: 55px !important;
    font-weight: 300 !important;
}

h6 { 
    font-weight: 700 !important;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 3.86px;
}

.footer-container .footer-center h3.module-title {
    font-weight: 400 !important;
    font-family: "Columbia Sans" !important;
    font-size: 13px !important;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    line-height: 20px !important;
    padding: 0 0 12px;
}
.footer-container .footer-center .footer-link ul li a { 
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    margin: 0 0 10px;
    text-transform:uppercase;
    text-decoration:none !important;
    color: #000;
}
.footer-container .footer-center .footer-link ul li a:hover{
  font-weight:400 !important;
}
.site-footer__social-icons {
    display: flex;
    align-items: center;
}
.site-footer__social-icons li {
    margin-right: 18px;
}
.site-footer__social-icons li:last-child {
    margin-right: 0;
}

.footer-copyright {
    font-weight: 400;
    font-family: "Columbia Sans";
    font-size: 13px;
    line-height: 17.55px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.footer-container .footer-center .footer-copyrights {
    padding: 65px 15px 46px;
}

.footer-container .footer-center .footer-link ul li a:hover,
.footer-container .footer-center .footer-link ul li a:focus {
    color: #000;
}

.slide-show .slideshow-wrapper .slideshow .slides .slideshow__slide .slideshow__text-wrap .slideshow_wapper .slideshow__text-content .slide-text.slide-text-2 {
    line-height: 80px;
    letter-spacing: 0;
    font-weight: 300 !important;
    font-size: 100px;
    text-transform: capitalize;
}

.clv-btn-1,
#dropdown-cart .mini_cart_header .actions .btn,
.tab-content .spr-button-primary,
.block-home-newsletter.newsletter-layout-1 .newsletter .input-group-btn > .btn,
.grid-builder-image .content-text-custom .button-view.color_button_type_1 a,
.show-cart-wr .col-right .checkout-buttons button,
.popupnewsletter #mc_embed_signup .input-group-btn .btn,
#add-to-cart-form #product-add-to-cart,
.external-link a,
.product-quickview button#add-to-cart-btn,
.spr-summary-actions a,
#myTabContent.tab-content .spr-summary-actions a,
.spr-form-actions input,
.contactus-page .contact-form #contactFormWrapper input.btn,
.blog-newsletter .newsletter .input-group-btn > .btn,
.home-newsletter .newsletter .input-group-btn > .btn,
.block_newsletter .input-group .input-group-btn input.btn,
.slide-show .slideshow-wrapper .slideshow .slides .slideshow__slide .slideshow__text-wrap .slideshow_wapper .slideshow__text-content .button-slider-wr .sl-button.color_button_type_1,
.view-more-button a,
.main-brand #logo-brand.type-1 .banner-items .content-banner a,
.main-brand #logo-brand.type-4 .banner-items .content-banner a,
.home-carousel-banner .slick-slide.home-collection-item .home-collection-title-wrapper .home-collection-title .link-home4 a {
    color: white;
    border: 0px !important;
    background-color: #3f3e40 !important;
}

.header .header-inner .menu-main-home .site-nav > li > a {
    font-size: 16px !important;
    line-height: 60px;
    letter-spacing: 2px;

    text-transform: uppercase;
    font-family: 'Columbia Sans' !important;
}

.header-topbar {
    display: none !important;
}

.header-absolute:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #efefef !important;
    transition: all 0.5s;
    -webkit-transition: 0.5s;
    color: black !important;
}
body.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:hover {
    color: #3f3e40 !important;
}
.aph_bar_bar {
    z-index: 2000 !important;
}
/*THIS JUST IN*/
.heading-block {
    text-align: left !important;
    margin-bottom: 35px !important;
    margin-top: 65px !important;
}

.heading-block h3,
.heading-block p.subtitle {
    color: #fff;
}
/*THIS JUST IN*/

/*COLLECTIONS*/

.toolbar .description p {
    font-family: Goldenbook !important;
    font-weight: 400 !important;
    font-size: 38px !important;
    color: #e0d1d1 !important;
    text-align: right !important;
    line-height: 45px !important;
    text-transform: uppercase !important;
}

.toolbar .description h3 {
    font-size: 48px !important;
    color: #fff !important;
}

.toolbar .description h6 {
    font-family: sofia-pro !important;
    font-size: 11px;
    color: #ffffff;
    letter-spacing: 2px;
}

/*COLLECTIONS*/

.home-newsletter {
    display: inline-block;
    width: 100%;
    background-color: #b3ada7 !important;
}

.instagram-bottom .heading-block h3 {
    text-align: left !important;
    font-size: 50px !important;
    color: #e0d1d1 !important;
}

h7 {
    font-family: Goldenbook !important;
    font-size: 48px !important;
    color: #ffffff !important;
    line-height: 55px !important;
    text-transform: uppercase !important;
}

shoutout {
    font-family: Goldenbook;
    font-size: 48px !important;
    color: #e0d1d1 !important;
    text-align: right;
    line-height: 55px !important;
    text-transform: uppercase !important;
}

.footer-container .footer-center .footer-newsletter .newsletter .input-group-field {
    color: #000 !important;
    outline: none;
    font-size: 14px;  
    line-height: 50px;
    border-radius: 0 !important;
    padding: 0;
    width: calc(100% - 160px);
    background-color: transparent !important;
    border-bottom: 1px solid #000 !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.footer-container .footer-center .footer-newsletter .newsletter .input-group-btn {
    margin-left: 0;
}

.footer-container .input-group-field, 
.footer-container .btn, 
.footer-container p,
.footer-container .btn:before,
.footer-container .footer-center .footer-link ul li a
{
    font-family: "Columbia Sans" !important;
    font-weight: 200 !important;
}

body .footer-container .footer-center .footer-newsletter .newsletter .input-group-btn > .btn {
    color: #000;
    border-color: #000;
    background-color: transparent;
    border-bottom: 1px solid;
    font-size: 14px; 
    text-align: right;
    letter-spacing: 0;
    background:#000 !important;
}
 
.footer-newsletter .newsletter .btn:before{
  content:"Subscribe"; 
  color:#fff !important; 
}
footer .footer-link h3.module-title{color:#000 !important}
footer .newsletter h3{color:#000 !important}

body .footer-container .footer-center .footer-newsletter .newsletter input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

body .footer-container .footer-center .footer-newsletter .newsletter input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

body .footer-container .footer-center .footer-newsletter .newsletter input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

.h4 {
    font-family: Goldenbook !important;
    font-size: 26px !important;
    color: #ffffff !important;
    line-height: 22px !important;
    text-align: left !important;
    text-transform: uppercase !important;
    margin-top: 20px !important;
}

.product-price__price {
    font-family: Goldenbook !important;
    font-size: 20px !important;
    color: #ffffff !important;
    line-height: 22px !important;
    text-align: left !important;
}

.tabs-product .tabs-content .owl-item {
    text-align: left !important;
}

.tabs-product-carousel {
    background-color: #bbb2b2 !important;
    margin-top: -10px !important;
    padding-bottom: 60px !important;
    padding-bottom: 40px !important;
}

/*DESKTOP NAV*/

.site-nav > li > a {
    padding: 0px 5px 5px !important;
}

.dropdown-subs .dropdown-menu-inner {
    padding-top: 0px !important;
    padding-bottom: 40px !important;
}

.dropdown-subs {
    background: #bbb2b2 !important;
    box-shadow: none !important;
    padding: 0px !important;
}

.site-nav li.megamenu-dropdow > .dropdown-subs::before {
    background: #bbb2b2 !important;
}

.site-nav li.megamenu-dropdow > .dropdown-subs::after {
    background: #bbb2b2 !important;
}

.site-nav li .dropdown-subs li a {
    font-family: sofia-pro !important;
    font-size: 11px !important;
    color: #3f3e40 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    padding: 2px 0 !important;
}

.site-nav li .dropdown-subs li a:hover {
    text-decoration: underline !important;
}

/*DESKTOP NAV*/

/*STICKY HEADER*/

.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a {
    /*   color: #3F3E40!important; */
}

.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:hover {
    color: #ffffff !important;
    text-decoration: underline !important;
}

.template-index .header-absolute:hover #search-top .clever-icon-search-4,
.template-index .header-absolute:hover .header .header-cart-container.menu i {
    color: #3f3e40 !important;
}

.header-absolute .header.is-ticky {
    background-color: #bbb2b2 !important;
}

.template-index .header-absolute #header-content .header.is-ticky .header-inner .site-nav .level-top > a {
    color: #3f3e40 !important;
}

.template-index .header-absolute .header.is-ticky #search-top .clever-icon-search-4,
.template-index .header-absolute .header.is-ticky .header-cart-container.menu i {
    color: #3f3e40 !important;
}
.template-index .header-absolute .header.is-ticky #search-top .clever-icon-search-4,
.template-index .header-absolute .header.is-ticky a.navigable span {
    color: #3f3e40 !important;
    text-transform: capitalize;
}
.template-index .header-absolute .header.is-ticky #search-top .clever-icon-search-4,
.template-index .header-absolute .header.is-ticky .a {
    fill: #3f3e40 !important;
}
.template-index .header-absolute .header.is-ticky #search-top .search-4,
.template-index .header-absolute .header.is-ticky .header-inner .site-nav {
    border-bottom: 1px solid #3f3e40;
}

/*STICKY HEADER*/

/*LANDING CAROUSEL*/

.grid-item .product-inner {
    background: transparent !important;
}

.product-content h3 a { 
    font-size: 24px;
    color: #3f3e40;
    line-height: 32px;
    text-transform: uppercase;
    text-align: Center !important;
    font-weight: 200 !important;
    display: block;
}

.grid-item .product-content,
.grid-item .product-bottom {
    text-align: left !important;
    position: relative;
    padding-bottom: 5px;
    z-index: 2;
    overflow: hidden;
}

.tabs-product-home .tabs-product .product-featured-content .tab-content .tabs-content .box-content .grid-item .product-inner .product-content {
    padding: 0px !important;
}

.product-content .price-box {
    font-family: "Poppins";
    font-size: 15px;
    color: #3f3e40;
    text-align: center !important;
    margin-bottom: 10px;
}

.product-content h3 a:hover {
    color: #fff;
    text-decoration: underline !important;
}

.tabs-product-home .heading-tabs {
    display: none !important;
}

/*LANDING PAGE PRESS QUOTE SECTION*/
#shopify-section-1594335851656 {
    margin-top: -100px !important;
}
/*LANDING PAGE PRESS QUOTE SECTION*/

.colection-top .sub-colection {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
}
.colection-top {
    padding-bottom: 30px;
    padding-top: 30px;
}
.title-colelctions {
    font-family: goldenbook !important;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.image-product-layout-2 .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.colection_fulwidth .display-toolbar .toolbar-mode {
    display: none;
}
#filter-sidebar {
    display: block !important;
}

.description-product {
    padding-top: 30px;
    color: #fff;
}
/*.custom-text-product{    font-family: Goldenbook!important;
font-size: 50px;
line-height: normal;
font-weight: 300;
text-align: right;color:#fff;
padding-top: 20px;
}*/
.product-detail-top {
    padding: 50px 0;
}
.product-detail-top .name-colection {
    margin-bottom: 0;
}
.product-detail-top .name-colection a {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}
.product-detail-top .prices-wr div {
    color: #fff;
}
.product-detail-top .product-title h1 {
    color: #fff;
    margin: 10px 0 0;
}
.product-detail-top .prices-wr div {
    font-family: goldenbook !important;
    font-size: 20px;
    font-weight: 300;
}
#zt_list_products .owl-nav {
    position: relative;
    top: 10px;
    transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -webkit-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    width: 100%;
    z-index: 9;
    margin-top: 0px;
    list-style: none;
}

#zt_list_products.owl-carousel .owl-nav button i {
    color: #fff;
    font-size: 16px;
}
#zt_list_products.owl-carousel .owl-nav button.owl-next {
    left: 40px;
}
#zt_list_products.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.social-icons__link svg {
    width: 18px;
}

@media (max-width: 991px) {
    a.navigable span {
        letter-spacing: 0px !important;
    }
    .megamenu.mobile_mega_nav img {
        width: auto !important;
        object-fit: initial !important;
    }
    .product-img-box.product-img-blur.d-none.d-lg-none {
        display: none !important;
    }
    header.product-title .container h1 {
        font-size: 30px !important;
    }
    a.navigable span {
        height: 39px !important;
        color: white;
    }

     
}

div#__pf {
    background: #b3ada7;
}
h3.sc-gXfVKN.hOTIIO.pf-137_ {
    margin-bottom: 0px;
}
h3.sc-ezbkAF.deEGdS.pf-6_ {
    margin-bottom: 0px;
}
h3.sc-oTLFK.lcHmGL.pf-69ea20c3.lineheightk {
    line-height: 40px !important;
}
li.level-top.menu-dropdown.megamenu-dropdow.shop:hover {
    /*     border-bottom: 3px solid rgb(0 0 0); */
    /*     font-weight:600 !Important; */
}
.header-inner .site-nav {
    border-bottom: 1px solid rgb(255 255 255);
    line-height: 2em;
    width: 100%;
    padding: 0px;
    padding-top: 0px !important;
}
.header-layout-01 #header-content .header .header-inner > .row {
    justify-content: space-between;
    margin: 0;
}

a.lion_a.navigable {
    padding-left: 31px !important;
    opacity: 0.5;
}
.top-location {
    font-size: 21px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.viewallcoll {
    position: absolute;
    left: 157%;
    top: 105%;
    width: 200px !important;
}
.viewallcolla span: first-child {
    border-bottom: 2px solid black !important;
}
.viewallcolla span: nth-child(2) {
    border-bottom: 2px solid black !important;
}
.viewallcolla span: nth-child(3) {
    border-bottom: 2px solid black !important;
}
.viewallcolla span: nth-child(4) {
    border-bottom: 2px solid black !important;
}

@media screen and (max-width: 1192px) {
    .megamenu.mobile_mega_nav ul.navbar-nav.site-nav .discover.level-top > .discover {
        text-align: left;
    }

    body .card-header a.card-title {
        color: rgb(255 255 255);
        padding: 20px 0 !important;
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        color: black !important;
    }
  
    .megamenu.mobile_mega_nav.open_menu > .container {
        padding-bottom: 10px !important;
    }
}
  
.top-location {
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
 
a.navigable span:hover {
    font-weight: 600 !important;
}
.megamenu.mobile_mega_nav ul.navbar-nav.site-nav .discover.level-top > .discover,
.megamenu.mobile_mega_nav ul.navbar-nav.site-nav .discover.level-top > .discover span { 
    font-weight: 300 !important;
    font-family: "Poppins" !important;
    letter-spacing: 1.4px;
}
.whiteico {
    max-width: 88% !important;
}
.ran img.iit {
    width: auto !important;
    height: 25px !important;
}
.template-index .header-absolute:hover #search-top .clever-icon,
.template-index .header-absolute:hover .header img.whiteico {
    max-width: 88% !important;
}
/* ul.navbar-nav.site-nav.new-megamenu .shop:hover {
    border-bottom: 3px solid black !important;
} */
body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title.megamenu{
  cursor: pointer !important; 
  font-size:15px !important; 
  margin-left:0 !important;
  color:#000 !important;
}
body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title{
  cursor: pointer !important;
}
body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title:after{display:none}
body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title:hover {
    font-weight: 500 !important;
}
ul.navbar-nav.site-nav.new-megamenu .discover:hover {
    /*     border-bottom: 3px solid black !important; */
    font-weight: 600 !important;
}
ul.navbar-nav.site-nav.new-megamenu .about:hover {
    /*     border-bottom: 3px solid black !important; */
    font-weight: 600 !important;
}
ul.navbar-nav.site-nav.new-megamenu .custom:hover {
    /*     border-bottom: 3px solid black !important; */
}

 
span.NaN:hover {
    font-weight: 600 !important;
}
.viewallcoll span:hover {
    /*     border-bottom: 1px solid black !Important; */
}
cart.hidden-sm.hidden-md.hidden-lg.navigable {
    position: absolute !important;
    left: 79% !important;
    bottom: 67% !important;
}
body #cart table tr .remove-cart {
    display: inline-block;
    font-size: 11px !important;
    /*   float:left; */
    text-decoration: underline;
    color: rgb(221 221 221) !important;
    padding-left: 10px !important;
    margin-top: -10.5% !important;
}
body .dropdown-menu-inner .second-menu.nav-links.row.sub-menu-lv2 {
    margin: 0 auto !important;
    justify-content: space-evenly !important;
    max-width: 950px !important;
}
links.sub-menu-lv3 .widget-inner a.navigable span {
    font-weight: 400 !important;
}
title.Our.Brand.navigable span {
    font-weight: 600 !important;
}
a.menu-title.Our.Services.navigable span {
    padding-right: 34%;
    font-weight: 600 !important;
    font-size: 14px !important;
}
a.menu-title.Visit.us.navigable span {
    font-weight: 600 !important;
    padding-right: 60%;
    font-size: 14px !important;
}

a.menu-title.Our.Brand.navigable span {
    padding-right: 45%;
    font-weight: 600 !important;
    font-size: 14px !important;
}
.widget-inner a.navigable span {
    font-size: 14px;
}

.dropdown-subs .dropdown-menu-inner a.menu-title {
    margin-bottom: -15px !important;
}

#cart .variant_title {
    text-align: left !important;
}

input.hs-discount-code.hs-event-static {
    height: 40px;
    width: 80%;
}

input.hs-discount-code.hs-event-static {
    height: 40px;
    width: 80%;
    padding-left: 20px;
    border: 1px solid rgb(0 0 0);
}

button.hs-apply-discount.hs-event-static {
    padding: 9px 12px;
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
}
.hs-add-discount {
    padding: 22px 3px;
}
 
.col-sm-3.col-6.mm-image.stylist-edit, .col-sm-3.col-6.mm-image.collections {
    max-width: 19%;
    width: 1400px;
}
.second-menu.nav-links.row.sub-menu-lv2 .widget-inner.col-lg-3 {
    margin-bottom: 30px;
}
.col-sm-3.col-6.mm-image.collections .viewallcoll {
    position: absolute;
    left: 215%;
    top: 104%;
    width: 200px !important;
}
.col-sm-3.col-6.mm-image.stylist-edit .viewallcoll {
    position: absolute;
    left: 240%;
    top: 110%;
    width: 200px !important;
}
.third-menu.nav-links.sub-menu-lv3 .widget-inner {
    margin-top: -15px;
}
li.level-top.menu-dropdown.megamenu-dropdow.custom .third-menu.nav-links.sub-menu-lv3 .widget-inner {
    margin-top: -40px;
}
 
a.lion_a.navigable {
    padding-left: 31px !important;

    color: rgb(255 255 255);
}

a.menu-title.Get.Started.navigable span {
    font-weight: 400 !important;
}
a.menu-title.Guide.to.Custom.navigable span {
    font-weight: 400 !important;
}
.menu-title.Our.Projects.navigable span {
    font-weight: 400 !important;
}
.template-index .header-absolute:hover a.menu-title.Our.Projects.navigable span {
    text-transform: uppercase !important;
}
.col-sm-3.col-6.mm-image.collections {
    padding-top: 0px !important;
}
.custom .third-menu.nav-links.sub-menu-lv3 span {
    padding: 0px !important;
    letter-spacing: 0.04em;
    font-weight: 275 !important;
    font-size: 13px;
    line-height: 15px !important;
    margin: 0px !important;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.second-menu.nav-links.row.sub-menu-lv2.Discover .col-lg-3 {
    max-width: 12% !important;
}

.footer-phone-email.col-12 {
    padding: 0;
    line-height: 24px;
}

.footer-phone-email p {
    margin: 0;
}

.footer-container .footer-center .footer-newsletter .newsletter .input-group-btn > .btn:hover {
    background: #000;
}

.footer-center .full-width.border-top {
    border-top: 1px solid #000000 !important;
    margin-top: 60px;
}

.footer-center .full-width .footer-copyrights {
    padding: 30px 0px;
}

/* Template NewGridFirst Start */

.toolbar-new .container.custom_coll_hd {
    flex-direction: column;
    align-items: flex-start;
}

.toolbar-new .custom_coll_hd .name-colection,
.toolbar-new .custom_coll_hd h1{
    color: #000;
}

.toolbar-new .custom_coll_hd h1 { 
    font-size: 50px;
    line-height: inherit;
    letter-spacing: inherit;
}

.toolbar-new .cat-left-block {
    margin-bottom: 22px;
}

.template-collection .toolbar-new .shogun-root {
    padding: 0;
}

.template-collection .toolbar-new .description span, 
.template-collection .toolbar-new .toolbar .description p {
    color: #000 !important;
    font-size: 14px !important;
    line-height: 21px !important;
}

.template-collection .toolbar-new .pd-top60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.template-collection .toolbar-new .infinite-scrolling a{
    background: #3F3E40 !important; color: #fff;  width: max-content;  padding: 0 20px;
} 
.template-collection .toolbar-new .loading-product{
/*      width: max-content;  */
  background: transparent;
} 

.subcategory-new-grid p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14.0247px;
  line-height: 21px; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 15px;
}

 
.bicustom_grid_image{
  height: 96%;
  background-size: cover;
  position: relative;
}
.content-area{
  position: absolute;
  bottom: 20px;
  width: 95%;
}

.bicustom_grid_image .content-area .title {
    font-family: 'Goldenbook';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 45px;  
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF; 
    border-bottom: 1px solid;
    margin-bottom: 15px;
}
.bicustom_grid_image .content-area .description-new,
.bicustom_grid_image .content-area .description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;  
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.bicustom_grid_image .content-area .button {
  display: flex; margin-top: 15px;
}
.bicustom_grid_image .content-area a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid;
    padding: 10px 20px;
}
.bicustom_grid_image .content-area a:hover,
.bicustom_grid_image .content-area a:focus { 
    background: #000;
    border: 1px solid #000;
}
/* Template NewGridFirst End */
.text-center{
  text-align: center;
}

.container.ptb-6 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container.pt-6 {
    padding-top: 60px;
}

/* Define the animation */
@keyframes slideUp {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}

/* Add the animation to the element */
.level-box {
  transition: .3s all ease; opacity: 0;
  display: none !important; 
}

/* Add the "slide-up" class when hiding the element */
.activetoggle .level-box { 
  display: block !important;opacity: 1;
  transition: .3s all ease;
}

.globo-form-app form .header.is-ticky {
    position: unset;
    box-shadow: unset;
    text-align: center;
}

.globo-form-app.boxed-layout>.dismiss { 
    left: unset;
}

.globo-form-app .globo-form-control .text-danger { 
    display: none;
}

.sc-bYoBSM div[data-pf-type=Section]:first-child:after { 
    position: unset;
}

.sc-bYoBSM .fBHNBt input[type=radio] {
    width: 30px; 
    height: 30px;
}
.sc-bYoBSM .fBHNBt input[type=text],
.sc-bYoBSM .fBHNBt input[type=email], 
.sc-bYoBSM .fBHNBt select{ 
    height: 65px;
}
.sc-bYoBSM input.sc-hIagIn.gPcuwv {
    appearance: revert !important;
    -webkit-appearance: revert !important;
}

.sc-bYoBSM  div[data-pf-type=Section] {
    max-width: unset;  padding: 0;
}

.pdp-about-section .tab-content {
    overflow-y: scroll;
    max-height: 310px;
}

.pdp-about-section .tab-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pdp-about-section .tab-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

@media (max-width: 1024px) {
    .customBorderForExtend {
        border-bottom: 1px solid;
        width: 110vw;
        transform: translateX(-20px);
    }
  
    .mobileNavbarNav > .container{
      padding: 0 !important; height: 100%;
    }
  
    .megamenu.mobile_mega_nav li > a {
        color: #000 !important;
    }

    .mobileNavbarNav .container li,
    .mobileNavbarNav .container li a,
    .mobile_mega_nav .accordion.discover_dropdown {
        background-color: #f5f5f5;
    }

    .mobileNavbarNav .haad {
        display: grid;
        grid-template-columns: 35px 1fr;
      height: 40px;
    align-items: center;
    }

    .mobileNavbarNav .hear {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mobileNavbarNav .uu a {
        font-weight: 400;
        font-family: Poppins;
        font-size: 14px;
    }

    .mobileNavbarNav .secondlevel > a {
        font-weight: 600;
    } 

    .mobileNavbarNav .discover.level-top .show a {
        text-align: center;
    }

    .row-gap-20 {
        row-gap: 20px;
    }
    .mobileNavbarNav .discover.level-top .test span {
        font-weight: 400;
    }
  
    .mobileNavbarNav .discover.level-top .show a.cstm_menu {
      text-align: left;
    }
  

    .megamenu.mobile_mega_nav ul.navbar-nav.site-nav {
      display: block;
      position: relative;
      height: 100%;
    }
    .megamenu.mobile_mega_nav .site-nav>li {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    #our-brand, #our-services, #visit-us {
      height: 100%;
    } 

    .mobileNavbarNav .innermenus span,
    .mobileNavbarNav .discover.level-top .test span
    {
      font-family: 'Poppins';
      text-transform: capitalize;
      font-size: 14px;
      letter-spacing: 1.4px;
    }

    .mobileNavbarNav .viewallcoll span {
      text-decoration: underline;
    }
  
    .template-index .header-absolute:hover #search-top .clever-icon-search-4, .template-index .header-absolute:hover .a, 
    .template-index .header-absolute:hover .header .header-cart-container.menu i {
      color: #ffffff !important; 
      fill: #fff !important;
    }

}

@media (max-width: 768px) { 
  .collection-page .product-grid-isotope-parent .products-grid.product-grid-item>div.custom_grid_image:not(.pagination-wrap) {
      max-width: 100% !important;
      flex: 0 0 100% !important;
  }
  
  .bicustom_grid_image { 
    padding-bottom: 110%;     
    margin-bottom: 10px;
  }

/*   collection custom template newgridfirst start */
  .template-collection .toolbar-new .custom_coll_hd p, .subcategory-new-grid p { 
      font-size: 11px !important;
      line-height: 16.5px !important;
      margin-bottom: 0;
  }

  .template-collection .toolbar-new .custom_coll_hd h1 {
    font-size: 32px; 
  }

  .template-collection .toolbar-new .container.ptb-6 {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .template-collection .toolbar-new div#shopify-section-collection-template1 {
    top: 22px;
  }
  .template-collection .toolbar-new .product-content .price-box{
    margin-bottom: 0;
  }
  .template-collection .toolbar-new .product-item {
    margin-bottom: 12px;
  }
  .template-collection .toolbar-new .collection_custom_wr,
  .template-collection .toolbar-new .infinite-scrolling{ 
      padding-bottom: 0;
  }
  .template-collection .infinite-scrolling {
      padding: 0;
  }

  #STYLISTEDIT .flex.flex-wrap.row-gap-20,
  #COLLECTIONS .flex.flex-wrap.row-gap-20{
      padding-bottom: 80px !important;
  }
  
  .charms .viewallcoll, .earrings .viewallcoll, .rings .viewallcoll   {
    top: 220% !important;
  }

  
  .footer-newsletter .newsletter .input-group { 
      display: flex;
  }
  
}
@media (max-width: 360px) {
    #header-mobile .logo-avc {
/*         width: 60%; */
    }
}

#your-shopping-cart .Jk692hbroeK5lg6b_t4v ul.p28_J2fRvZNDqyZkZ2H9 {
    column-gap: 10px;
    margin: 0 !important;
}

#your-shopping-cart .p28_J2fRvZNDqyZkZ2H9 li.Vru56DW5IUIiRpxbGTDg {
    flex-basis: unset !important;
    margin: 0 !important;
    width: calc(50% - 5px);
}
/* div#__pf {
    padding-top: 50px !important;
  padding-bottom: 50px !important;
} */

#our-custom-gallery .imagebox__hover {
    display: none;
}

#our-custom-gallery .imagebox {
    cursor: pointer; 
  position: unset !important;
}

#our-custom-gallery .imagebox.clicked:before {
    position: fixed !important;
    width: 100%;
    height: 100%;
    background: #00000082;
    z-index: 1;
    top: 0;
    left: 0;
    content: " ";
}

#our-custom-gallery .imagebox.clicked .imagebox__hover {
    display: flex !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    height: 100%;
    background: #f5f5f5;
    z-index: 1000;
    overflow: auto;
    text-align: center;
    padding: 40px;
    width: 90%;
    max-height: 700px;
}

#our-custom-gallery .imagebox.clicked .open-popup {
    display: flex !important;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#our-custom-gallery .imagebox.clicked .imagebox__title {
    font-size: 16px;
    font-weight: 600 !important;
    font-family: poppins !important;
    text-transform: uppercase !important;
    color: #000;
}

#our-custom-gallery .imagebox__desc {
    font-size: 12px;
    font-weight: 400;
    font-family: poppins; 
    color: #000;
}

#our-custom-gallery .imagebox__btn {
    font-size: 12px;
    font-weight: 400;
    font-family: poppins; 
    color: #000;
    margin-top: 15px;
    text-transform: capitalize;
    text-decoration: underline !important;
}
#our-custom-gallery .imagebox__btn:hover {
    font-weight: 600;
}

#our-custom-gallery .sc-lkgTHX.jrzygT.pf-17_ {
    max-width: unset;
}

#our-custom-gallery .xo-enableappear .grid-item__wrapper {
    opacity: 1;
}

.grid__item_custom {
  flex: 1;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#our-custom-gallery .open-popup img {
    /* margin-bottom: 30px;  */
    height: 100%;
}

#our-custom-gallery .imagebox.clicked.imagnotexist .imagebox__hover {
    max-height: 300px;
}


@media (max-width: 768px) { 
  #our-custom-gallery .imagebox.clicked .open-popup { 
    flex-direction: column;
  }
  #our-custom-gallery .imagebox.clicked .imagebox__hover {  
    max-height: unset;
    height: fit-content;
  }
  .grid__item_custom { 
    width: 100%;
  }
}

