/* PageFly Element Styles */
						.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding:var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding:var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding:var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding:var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin:0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin:0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: currentcolor none medium; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-e88503b1 {
		color: rgb(255, 255, 255);
		 margin-top: 40px;
		 margin-bottom: 40px;
	}
	.__pf .pf-a7e7051c {
		margin-bottom: 0px;
	}
	.__pf .pf-eac9727e {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-35c17fc5 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-5bcd7ec3 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-bca25fef {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-bca25fef div {
		font-size: 1px;
	}
	.__pf .pf-fceee7bd {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-56daf81a {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-872c8588 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-e3367604 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-12596eb1 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-31b2cc04 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-6903802e {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-885b2fbc {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-605d3e3a {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-0aca4af0 {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-0aca4af0 div {
		font-size: 1px;
	}
	.__pf .pf-c9b14f72 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-3ba3e32e {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-eec0ade2 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-4d3139bb {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-73de211c {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-2947cee4 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-d4de7b15 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-1b15f267 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-1ecb48b2 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-f779caba {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-ad0dd734 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-55cdf3ac {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-55cdf3ac div {
		font-size: 1px;
	}
	.__pf .pf-149fd805 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-d1cd0b85 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-0b20e50a {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-022bc54f {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-022bc54f div {
		font-size: 1px;
	}
	.__pf .pf-7bb6e9d4 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-014f87ce {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-aae7ffac {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-05537383 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-3dc25281 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-31b6cb55 {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-31b6cb55 div {
		font-size: 1px;
	}
	.__pf .pf-115c9054 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-c1b5a12a {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-cc0de2e5 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-e711f0d9 {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-e711f0d9 div {
		font-size: 1px;
	}
	.__pf .pf-64801c7f {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-4175c2b0 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-51358df1 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-848964ba {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-83d9c80a {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-0d76a200 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-f5f2c871 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-26d974fd {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-26d974fd div {
		font-size: 1px;
	}
	.__pf .pf-f6055404 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-bfa25f12 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-c6525558 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-a6369a49 {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-a6369a49 div {
		font-size: 1px;
	}
	.__pf .pf-73180856 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-6a6dd412 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-9a56c1dc {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-a27031a6 {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-a27031a6 div {
		font-size: 1px;
	}
	.__pf .pf-5f7ef4ca {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-9c861745 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-189c7d9f {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-a95769a2 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-3e75f9ce {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-f2cc5b4c {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-94aa43d5 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-989ca1ee {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-f15199d8 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-2c290157 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-82bf611a {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-84cf721d {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-84cf721d div {
		font-size: 1px;
	}
	.__pf .pf-5d145204 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-f02b6251 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-648758e2 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-9df86615 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-ec964d21 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-02800d67 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-0ffaaadc {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-f734c8d4 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-72d9bd8b {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-0a363236 {
		color: rgb(76, 74, 77);
		 font-size: 2px;
		 margin-bottom: 10px;
	}
	.__pf .pf-0a363236 div {
		font-size: 1px;
	}
	.__pf .pf-33e0e2ab {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-225655fd {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-563ef0ee {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-f5c82e4d {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-8b1e8aaa {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-0a4323e2 {
		color: rgb(255, 255, 255);
	}
	.__pf .pf-7b2ab786 {
		color: rgb(242, 239, 239);
	}
	.__pf .pf-532ce980 {
		margin-bottom: 100px;
		 padding-top: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-e88503b1 {
		margin-top: 100px;
		 margin-bottom: 0px;
		 padding-bottom: 15px;
	}
}
						

 /*body { 	background-color: rgb(187, 178, 178)!important; }*/ .main-content { 	max-width: 100%; 	padding: 0; } #header-content { 	background-color: #3F3E40 !important; } .popup-main { 	background-color: #bbb2b2 !important; }