@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.eot');
    src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff'),
        url('ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.discover col-sm-3.col-6.mm-image.collections {
    max-width: 16% !important;
    
}

.main_row.sidebar-left.colection_fulwidth.colection_fulwidth.hidden-sidebar {
    background: #B3ADA7 !important;
  color:#fff;
}
.col-lg-4.col-md-4.col-6.product-items.iwishItem {
    margin-top: 40px;
}

.top-cart i {
    color: #000 !important;
}
div#tab1 span {
    font-size: 16px;
    font-family: 'Poppins';
}
 
